MAIN/📧Email Automation Main_1.json
{
  "name": "📧Email Automation Main_1",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 3
            }
          ]
        }
      },
      "id": "f6694a9b-4b8d-4ab4-9430-931fae1a9ce9",
      "name": "Schedule Check",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -21136,
        -2448
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Получаем последние диалоги для анализа\nWITH recent_messages AS (\n    SELECT \n        session_id,\n        MAX(created_at) as last_message_time,\n        COUNT(*) as message_count\n    FROM (\n        SELECT session_id, created_at FROM n8n_chat_histories_ru\n        WHERE created_at > NOW() - INTERVAL '1 hours'\n        UNION ALL\n        SELECT session_id, created_at FROM n8n_chat_histories_en\n        WHERE created_at > NOW() - INTERVAL '1 hours'\n    ) all_messages\n    GROUP BY session_id\n    HAVING COUNT(*) >= 3 -- Минимум 3 сообщения для анализа\n),\n-- Проверяем, отправлялось ли уже письмо для этой сессии\nalready_sent AS (\n    SELECT DISTINCT session_id\n    FROM email_tracking\n    WHERE status = 'sent'\n      AND email_type IN ('welcome_pdf', 'info_request', 'pricing_info', 'setup_guide')\n      -- Не отправляем повторно в течение 7 дней\n      AND sent_at > NOW() - INTERVAL '7 days'\n),\nnot_processed AS (\n    SELECT rm.session_id\n    FROM recent_messages rm\n    LEFT JOIN already_sent as_sent ON rm.session_id = as_sent.session_id\n    WHERE as_sent.session_id IS NULL -- Только сессии без отправленных писем\n)\nSELECT \n    ac.id,\n    ac.session_id,\n    ac.message_type,\n    ac.content,\n    ac.timestamp,\n    ac.platform,\n    ac.language\nFROM (\n    SELECT \n        id,\n        session_id,\n        message::json->>'type' as message_type,\n        message::json->>'content' as content,\n        created_at as timestamp,\n        platform,\n        'ru' as language\n    FROM n8n_chat_histories_ru\n    WHERE session_id IN (SELECT session_id FROM not_processed)\n    \n    UNION ALL\n    \n    SELECT \n        id,\n        session_id,\n        message::json->>'type' as message_type,\n        message::json->>'content' as content,\n        created_at as timestamp,\n        platform,\n        'en' as language\n    FROM n8n_chat_histories_en\n    WHERE session_id IN (SELECT session_id FROM not_processed)\n) ac\nORDER BY ac.session_id, ac.timestamp;",
        "options": {}
      },
      "id": "62ec3e34-1de5-4979-a696-1bda47d2ecdd",
      "name": "Get Unprocessed Dialogs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -20896,
        -2496
      ],
      "credentials": {
        "postgres": {
          "id": "dPjh4Kdb4nIbCTQG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Группируем диалоги по сессиям\nconst dialogs = items;\nconst sessions = {};\n\ndialogs.forEach(item => {\n    const data = item.json;\n    if (!sessions[data.session_id]) {\n        sessions[data.session_id] = {\n            messages: [],\n            language: data.language,\n            platform: data.platform\n        };\n    }\n    \n    sessions[data.session_id].messages.push({\n        type: data.message_type,\n        content: data.content,\n        timestamp: data.timestamp\n    });\n});\n\n// Форматируем для AI анализа\nconst dialogsForAnalysis = Object.entries(sessions).map(([sessionId, data]) => {\n    return {\n        sessionId: sessionId,\n        language: data.language,\n        platform: data.platform,\n        conversation: data.messages.map(msg => \n            `${msg.type === 'human' ? 'Клиент' : 'Бот'}: ${msg.content}`\n        ).join('\\n'),\n        messageCount: data.messages.length,\n        lastMessage: data.messages[data.messages.length - 1]\n    };\n});\n\nreturn dialogsForAnalysis.map(d => ({json: d}));"
      },
      "id": "a4d5fc10-5275-4dba-a175-3c16d217862d",
      "name": "Format Dialogs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -20688,
        -2496
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Анализ диалога:\nSession ID: {{ $json.sessionId }}\nЯзык: {{ $json.language }}\nПлатформа: {{ $json.platform }}\n\nДиалог:\n{{ $json.conversation }}",
        "options": {
          "systemMessage": "# Роль: Email Marketing AI Agent\n\nТы - специалист по email-маркетингу и анализу диалогов для торгового бота Cryptomator.\n\n# Контекст продукта:\nCryptomator - торговый бот для автоматизации криптовалютной торговли. Основные материалы:\n- PDF презентация с описанием функционала\n- Инструкции по настройке бота\n- Описание тарифных планов\n- Обучающие материалы\n\n# Задача:\nПроанализируй диалог и определи:\n\n1. **Необходимость отправки email**:\n   - Клиент явно согласился получить материалы\n   - Клиент оставил email для связи\n   - Клиент проявил высокий интерес к продукту\n   - Клиент задал конкретные вопросы требующие детального ответа\n\n2. **Извлеки данные клиента**:\n   - Email (обязательно для отправки)\n   - Имя (если представился)\n   - Телефон (если оставил)\n   - Предпочтительный способ связи\n\n3. **Определи тип письма**:\n   - welcome_pdf - приветственное с PDF презентацией\n   - info_request - ответ на конкретные вопросы\n   - pricing_info - информация о тарифах\n   - setup_guide - инструкция по настройке\n   - followup - повторное письмо\n\n4. **Определи контент письма**:\n   - Какие файлы приложить (из Google Drive)\n   - Персонализированный текст письма\n   - Call-to-action\n\n# ВАЖНЫЕ ПРАВИЛА:\n\n1. **НЕ отправляй email если**:\n   - Нет явного email адреса\n   - Клиент не давал согласия\n   - Диалог слишком короткий (менее 5 сообщений)\n   - Клиент явно отказался от материалов\n   - Email уже был отправлен (проверь в базе)\n\n2. **ОБЯЗАТЕЛЬНО отправляй если**:\n   - Клиент прямо попросил материалы\n   - Клиент оставил email с просьбой связаться\n   - Клиент задал вопросы требующие документации\n   - Lead score > 70 и есть email\n\n3. **Персонализация**:\n   - Используй имя клиента если известно\n   - Адаптируй тон под платформу (Telegram более неформальный)\n   - Учитывай язык диалога (ru/en)\n   - Ссылайся на конкретные вопросы из диалога\n\n4. **Файлы для прикрепления**:\n   - presentation_ru.pdf / presentation_en.pdf - презентация\n   - setup_guide_ru.pdf / setup_guide_en.pdf - настройка\n   - pricing_ru.pdf / pricing_en.pdf - тарифы\n   - faq_ru.pdf / faq_en.pdf - частые вопросы\n\n# ОБЯЗАТЕЛЬНЫЙ HTML ФОРМАТ ПИСЬМА (СПАМ-БЕЗОПАСНЫЙ):\n\n### ИСПОЛЬЗУЙ ЭТОТ ШАБЛОН ДЛЯ emailContent (РУССКАЯ ВЕРСИЯ):\n\n```html\n<!DOCTYPE html>\n<html>\n<body style=\"font-family: Arial, sans-serif; line-height: 1.6; color: #333;\">\n    <div style=\"max-width: 600px; margin: 0 auto; padding: 20px;\">\n        <p>Здравствуйте{{#if name}}, {{name}}{{/if}}!</p>\n        \n        <p>Как и обещали, отправляем вам информацию о Cryptomator - торговом боте для автоматизации операций с криптовалютами.</p>\n        \n        <div style=\"background: #f7fafc; border: 1px solid #e2e8f0; border-radius: 8px; padding: 20px; margin: 20px 0;\">\n            <p>Вы просили подробную информацию о возможностях нашего бота.</p>\n            <p>📎 Во вложении находится презентация с описанием функционала, примерами работы и инструкциями по использованию.</p>\n        </div>\n        \n        <div style=\"background: #ebf8ff; border: 1px solid #bee3f8; border-radius: 8px; padding: 15px; margin: 20px 0;\">\n            <h3 style=\"color: #2c5282; margin-top: 0;\">📊 Что умеет торговый бот Cryptomator:</h3>\n            <ul style=\"list-style: none; padding: 0;\">\n                <li style=\"margin-bottom: 10px;\">✅ Автоматическая торговля на криптовалютных биржах</li>\n                <li style=\"margin-bottom: 10px;\">📈 Использование 6 различных алгоритмов анализа рынка</li>\n                <li style=\"margin-bottom: 10px;\">🔐 Безопасное подключение через API без передачи средств</li>\n                <li style=\"margin-bottom: 10px;\">⚡ Простая настройка и понятный интерфейс управления</li>\n            </ul>\n        </div>\n        \n        <h3 style=\"color: #2c5282;\">💰 Доступные тарифы:</h3>\n        <div style=\"background: #f7fafc; border: 1px solid #e2e8f0; border-radius: 8px; padding: 15px; margin: 15px 0;\">\n            <ul style=\"list-style: none; padding: 0;\">\n                <li style=\"margin-bottom: 10px;\">💚 <strong>Starter:</strong> $29/месяц - базовый функционал бота</li>\n                <li style=\"margin-bottom: 10px;\">💙 <strong>Professional:</strong> $59/месяц - расширенные возможности торговли</li>\n                <li style=\"margin-bottom: 10px;\">💜 <strong>Enterprise:</strong> $99/месяц - полный функционал и приоритетная поддержка</li>\n            </ul>\n        </div>\n        \n        <div style=\"text-align: center; margin: 25px 0;\">\n            <a href=\"https://cryptomator.pro/?utm_source=email&utm_campaign=info#prices\"\n               style=\"background-color: #3182ce; color: white; padding: 12px 30px; text-decoration: none; border-radius: 5px; font-weight: bold; display: inline-block;\">\n                🚀 Узнать больше на сайте\n            </a>\n        </div>\n        \n        <p style=\"background: #fef5e7; border-left: 4px solid #f39c12; padding: 15px; margin: 20px 0;\">\n    <strong>🎁 Специальное предложение!</strong><br>\n    Начните сегодня и получите <strong>+1 месяц бесплатной</strong> лицензии выбранного тарифа.\n</p>\n        \n        <p>Если у вас возникнут вопросы после изучения материалов, просто ответьте на это письмо.</p>\n        \n        <p>С уважением,<br>\n        <strong>Команда Cryptomator</strong></p>\n        \n        <hr style=\"border: 0; border-top: 1px solid #e2e8f0; margin: 30px 0;\">\n        \n        <div style=\"text-align: center; padding: 15px 0;\">\n            <p style=\"margin: 5px 0;\">\n                📧 Email: <a href=\"mailto:support@cryptomator.pro\" style=\"color: #3182ce; text-decoration: none;\">support@cryptomator.pro</a>\n            </p>\n            <p style=\"margin: 5px 0;\">\n                💬 Telegram: <a href=\"https://t.me/cryptomator_support\" style=\"color: #3182ce; text-decoration: none;\">@cryptomator_support</a>\n            </p>\n            <p style=\"margin: 5px 0;\">\n                🌐 Сайт: <a href=\"https://cryptomator.pro\" style=\"color: #3182ce; text-decoration: none;\">cryptomator.pro</a>\n            </p>\n        </div>\n        \n        <p style=\"font-size: 12px; color: #718096; text-align: center; margin-top: 20px;\">\n            Вы получили это письмо, так как запросили информацию о торговом боте Cryptomator.\n        </p>\n    </div>\n</body>\n</html>\n```\n\nДЛЯ АНГЛИЙСКОЙ ВЕРСИИ (если language = 'en'):\n\n```html\n<!DOCTYPE html>\n<html>\n<body style=\"font-family: Arial, sans-serif; line-height: 1.6; color: #333;\">\n    <div style=\"max-width: 600px; margin: 0 auto; padding: 20px;\">\n        <p>Hello{{#if name}}, {{name}}{{/if}}!</p>\n        \n        <p>As promised, we're sending you information about Cryptomator - a trading bot for automating cryptocurrency operations.</p>\n        \n        <div style=\"background: #f7fafc; border: 1px solid #e2e8f0; border-radius: 8px; padding: 20px; margin: 20px 0;\">\n            <p>You requested detailed information about our bot capabilities.</p>\n            <p>📎 Please find attached a presentation with functionality description, examples and usage instructions.</p>\n        </div>\n        \n        <div style=\"background: #ebf8ff; border: 1px solid #bee3f8; border-radius: 8px; padding: 15px; margin: 20px 0;\">\n            <h3 style=\"color: #2c5282; margin-top: 0;\">📊 What Cryptomator Trading Bot Can Do:</h3>\n            <ul style=\"list-style: none; padding: 0;\">\n                <li style=\"margin-bottom: 10px;\">✅ Automated trading on cryptocurrency exchanges</li>\n                <li style=\"margin-bottom: 10px;\">📈 Uses 6 different market analysis algorithms</li>\n                <li style=\"margin-bottom: 10px;\">🔐 Secure API connection without transferring funds</li>\n                <li style=\"margin-bottom: 10px;\">⚡ Simple setup and user-friendly control interface</li>\n            </ul>\n        </div>\n        \n        <h3 style=\"color: #2c5282;\">💰 Available Plans:</h3>\n        <div style=\"background: #f7fafc; border: 1px solid #e2e8f0; border-radius: 8px; padding: 15px; margin: 15px 0;\">\n            <ul style=\"list-style: none; padding: 0;\">\n                <li style=\"margin-bottom: 10px;\">💚 <strong>Starter:</strong> $29/month - basic bot functionality</li>\n                <li style=\"margin-bottom: 10px;\">💙 <strong>Professional:</strong> $59/month - advanced trading features</li>\n                <li style=\"margin-bottom: 10px;\">💜 <strong>Enterprise:</strong> $99/month - full functionality and priority support</li>\n            </ul>\n        </div>\n        \n        <div style=\"text-align: center; margin: 25px 0;\">\n            <a href=\"https://cryptomator.pro/?utm_source=email&utm_campaign=info#prices\"\n               style=\"background-color: #3182ce; color: white; padding: 12px 30px; text-decoration: none; border-radius: 5px; font-weight: bold; display: inline-block;\">\n                🚀 Learn More on Website\n            </a>\n        </div>\n        \n        <p style=\"background: #fef5e7; border-left: 4px solid #f39c12; padding: 15px; margin: 20px 0;\">\n    <strong>🎁 Special Offer!</strong><br>\n    Start today and get <strong>+1 month free</strong> license of your chosen plan.\n</p>\n        \n        <p>If you have any questions after reviewing the materials, just reply to this email.</p>\n        \n        <p>Best regards,<br>\n        <strong>Cryptomator Team</strong></p>\n        \n        <hr style=\"border: 0; border-top: 1px solid #e2e8f0; margin: 30px 0;\">\n        \n        <div style=\"text-align: center; padding: 15px 0;\">\n            <p style=\"margin: 5px 0;\">\n                📧 Email: <a href=\"mailto:support@cryptomator.pro\" style=\"color: #3182ce; text-decoration: none;\">support@cryptomator.pro</a>\n            </p>\n            <p style=\"margin: 5px 0;\">\n                💬 Telegram: <a href=\"https://t.me/cryptomator_support\" style=\"color: #3182ce; text-decoration: none;\">@cryptomator_support</a>\n            </p>\n            <p style=\"margin: 5px 0;\">\n                🌐 Website: <a href=\"https://cryptomator.pro\" style=\"color: #3182ce; text-decoration: none;\">cryptomator.pro</a>\n            </p>\n        </div>\n        \n        <p style=\"font-size: 12px; color: #718096; text-align: center; margin-top: 20px;\">\n            You received this email because you requested information about Cryptomator trading bot.\n        </p>\n    </div>\n</body>\n</html>\n```\n\nВАЖНО:\nФОРМАТ ТЕМЫ ПИСЬМА (ОБЯЗАТЕЛЬНО С ИМЕНЕМ):\nДля русского языка: \"{{name}}, как и обещали отправляем важную информацию по Cryptomator\"\nДля английского: \"{{name}}, as promised, here's important information about Cryptomator\"\nЕсли имя неизвестно:\nДля русского: \"Как и обещали, отправляем важную информацию по Cryptomator\"\nДля английского: \"As promised, here's important information about Cryptomator\"\nВАЖНО:\n\nВ поле \"emailContent\" твоего JSON-ответа должен быть ПОЛНЫЙ HTML-код выше\nВ поле \"subject\" ОБЯЗАТЕЛЬНО должно быть имя пользователя в начале (если известно)\nПодставляй правильные значения вместо {{name}}\nИспользуй русский шаблон для language='ru' и английский для language='en'\nНЕ используй слова: заработок, доход, прибыль, проценты годовых, стратегия заработка\nИспользуй нейтральные формулировки: торговый бот, автоматизация, функционал, возможности\n\n# Формат ответа - ТОЛЬКО валидный JSON:\n{\n  \"shouldSendEmail\": true/false,\n  \"reason\": \"Причина решения\",\n  \"emailData\": {\n    \"email\": \"клиент@example.com\",\n    \"name\": \"Имя клиента или null\",\n    \"phone\": \"телефон или null\",\n    \"emailType\": \"welcome_pdf/info_request/pricing_info/setup_guide/followup\",\n    \"subject\": \"Тема письма\",\n    \"language\": \"ru/en\",\n    \"attachments\": [\n      {\n        \"fileName\": \"strategy_150_ru.pdf\",\n        \"driveId\": \"файл_id_из_google_drive\"\n      }\n    ],\n    \"emailContent\": \"HTML контент письма с персонализацией\",\n    \"urgency\": \"high/medium/low\",\n    \"leadScore\": число от 0 до 100\n  },\n  \"extractedNeeds\": [\"список выявленных потребностей\"],\n  \"followUpRecommendation\": \"Рекомендация для менеджера\"\n}\n\n# Проверки перед отправкой:\n\nEmail валиден (содержит @ и домен)\nНет записи в email_tracking для этой сессии\nКонтент соответствует языку клиента\nВыбраны правильные файлы для языка\nВ теме письма есть имя пользователя (если известно)\nНет спам-слов (заработок, доход, проценты, прибыль)\n\nВозвращай ТОЛЬКО валидный JSON без дополнительного текста!"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -20512,
        -2512
      ],
      "id": "01730bf9-c8da-491a-b9de-89844a77271c",
      "name": "Email Decision Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -20576,
        -2336
      ],
      "id": "8315ab8e-a23f-4c4a-aac0-e9be4a922d18",
      "name": "Gemini Model",
      "credentials": {
        "googlePalmApi": {
          "id": "abo0BDHSJPM0pgRU",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Mapping файлов с реальными ID из Google Drive\nconst FILE_MAPPINGS = {\n  'welcome_pdf': {\n    'ru': '1xVXrc_yDynRHugGa-tu7gZYB72N8uieF',\n    'en': '1Hu5FXAtGDGuoZ_h7CnoE_0rCnKpSCrNq'\n  },\n  'strategy': {\n    'ru': '1xVXrc_yDynRHugGa-tu7gZYB72N8uieF',\n    'en': '1Hu5FXAtGDGuoZ_h7CnoE_0rCnKpSCrNq'\n  }\n};\n\n// Получаем данные из предыдущих узлов\nconst aiOutput = $input.first().json.output || $input.first().json;\nconst formatDialogsData = $items(\"Format Dialogs\")[0].json;\n\nlet emailDecision;\n\ntry {\n    // Парсим ответ AI\n    if (typeof aiOutput === 'string') {\n        // Очистка JSON от markdown и лишних символов\n        let cleanJson = aiOutput;\n        cleanJson = cleanJson.replace(/```json\\s*/g, '');\n        cleanJson = cleanJson.replace(/```\\s*/g, '');\n        cleanJson = cleanJson.trim();\n        \n        emailDecision = JSON.parse(cleanJson);\n    } else {\n        emailDecision = aiOutput;\n    }\n    \n    // Если AI решил отправить email\n    if (emailDecision.shouldSendEmail) {\n        // Определяем язык и тип email\n        const language = emailDecision.emailData?.language || 'ru';\n        const emailType = emailDecision.emailData?.emailType || 'welcome_pdf';\n        \n        // Получаем правильный ID файла\n        const fileId = FILE_MAPPINGS[emailType]?.[language] || \n                      FILE_MAPPINGS['welcome_pdf'][language];\n        \n        // Обновляем данные для отправки\n        emailDecision.emailData = {\n            ...emailDecision.emailData,\n            fileId: fileId,\n            attachments: [{\n                driveId: fileId,\n                fileName: `strategy_${language}.pdf`,\n                mimeType: 'application/pdf'\n            }]\n        };\n    }\n    \n    // Добавляем метаданные\n    emailDecision.sessionId = formatDialogsData.sessionId;\n    emailDecision.platform = formatDialogsData.platform;\n    emailDecision.processedAt = new Date().toISOString();\n\n} catch (error) {\n    console.error('Parse error details:', error);\n    \n    emailDecision = {\n        shouldSendEmail: false,\n        reason: 'Ошибка парсинга ответа AI',\n        error: error.toString(),\n        sessionId: formatDialogsData?.sessionId || 'unknown',\n        platform: formatDialogsData?.platform || 'unknown',\n        processedAt: new Date().toISOString()\n    };\n}\n\n// Логирование для отладки\nconsole.log('Email decision result:', emailDecision);\n\nreturn [{json: emailDecision}];"
      },
      "id": "c921f2a9-4356-4665-ad7b-2d927bdc72d5",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -20240,
        -2496
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.shouldSendEmail }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "id": "eda947b2-635d-4137-b710-1b2e4c383b66"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "05bc971e-42e9-4f62-8f32-6227980b0ff0",
      "name": "Should Send Email?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -19904,
        -2496
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    COUNT(*) as duplicate_count,\n    '{{ $json.sessionId }}' as session_id,\n    '{{ $json.emailData.email }}' as email,\n    MAX(sent_at) as last_sent_at,\n    STRING_AGG(email_type, ', ') as sent_types\nFROM email_tracking\nWHERE session_id = '{{ $json.sessionId }}'\n  AND status = 'sent'\n  AND (\n    -- Проверяем любые информационные письма за последние 7 дней\n    (email_type IN ('welcome_pdf', 'info_request', 'pricing_info', 'setup_guide') \n     AND sent_at > NOW() - INTERVAL '7 days')\n    OR\n    -- Или точно такое же письмо за последние 30 дней\n    (email = '{{ $json.emailData.email }}' \n     AND email_type = '{{ $json.emailData.emailType }}'\n     AND sent_at > NOW() - INTERVAL '30 days')\n  );",
        "options": {}
      },
      "id": "38ec1c21-bb86-44e8-ba17-10daa00494ea",
      "name": "Check Duplicate",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -19776,
        -2640
      ],
      "credentials": {
        "postgres": {
          "id": "dPjh4Kdb4nIbCTQG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.duplicate_count }}",
              "rightValue": "0",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "id": "acad2f38-9ae5-4adf-b6eb-25917bb92518"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "daaccd24-a001-4bd7-b373-b30a91345f03",
      "name": "Is New Email?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -19376,
        -2640
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.emailData.fileId }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          }
        }
      },
      "id": "dfc35098-a6b5-4e95-a1dc-635962521de8",
      "name": "Get Files from Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -19168,
        -2704
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "2ZNOKD6ZFqAfrDq2",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.emailData.email }}",
        "subject": "={{ $json.emailData.subject }}",
        "message": "={{ $json.emailData.emailContent }}",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          },
          "senderName": "Cryptomator Team",
          "replyTo": "support@cryptomator.pro"
        }
      },
      "id": "802c0800-3f57-4b38-9eb1-82ea82d78644",
      "name": "Send Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -18976,
        -2704
      ],
      "webhookId": "090d73f6-561b-472b-b6cc-85cf70e39e80",
      "credentials": {
        "gmailOAuth2": {
          "id": "ev0cwU3ZEXqPZ9wU",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Сохраняем информацию об отправленном email\nINSERT INTO email_tracking (\n    session_id,\n    email,\n    client_name,\n    email_type,\n    subject,\n    content,\n    attachments,\n    status,\n    platform,\n    language,\n    sent_at\n) VALUES (\n    '{{ $json.sessionId }}',\n    '{{ $json.email }}',\n    '{{ $json.clientName }}',\n    '{{ $json.emailType }}',\n    '{{ $json.subject }}',\n    '{{ $json.content }}',\n    '{{ $json.attachments }}'::jsonb,\n    '{{ $json.status }}',\n    '{{ $json.platform }}',\n    '{{ $json.language }}',\n    NOW()\n)\nRETURNING *;",
        "options": {}
      },
      "id": "05159d28-0e08-4d0a-85ac-19c81d9c1772",
      "name": "Save Email Record",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -18576,
        -2704
      ],
      "credentials": {
        "postgres": {
          "id": "dPjh4Kdb4nIbCTQG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "-1002588885971",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "MarkdownV2"
        }
      },
      "id": "019ac58a-72ac-4beb-99f8-96562e7a5027",
      "name": "Notify Manager",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -18176,
        -2704
      ],
      "webhookId": "68e9f810-a972-4f5b-9433-259b598cc8d8",
      "credentials": {
        "telegramApi": {
          "id": "bHlhE9zUMfwWqM9t",
          "name": "Manager Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Получаем данные email из Parse AI Response\nconst emailData = $items(\"Parse AI Response\")[0].json;\n\n// Получаем результат проверки дубликатов\nconst duplicateCheck = $input.first().json;\n\n// Передаем все данные дальше, включая duplicate_count\nreturn [{\n  json: {\n    ...emailData,\n    shouldSendEmail: emailData.shouldSendEmail,\n    emailData: emailData.emailData,\n    sessionId: emailData.sessionId,\n    platform: emailData.platform,\n    duplicate_count: duplicateCheck.duplicate_count // Добавляем это поле!\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -19568,
        -2640
      ],
      "id": "efcf6725-437f-424c-8126-4f30ca836019",
      "name": "Merge Email Data"
    },
    {
      "parameters": {
        "jsCode": "// Получаем данные о письме из предыдущих узлов\nconst emailData = $items(\"Is New Email?\")[0].json;\nconst gmailResponse = $input.first().json;\n\n// Функция для экранирования SQL строк\nfunction escapeSql(str) {\n  if (!str) return '';\n  return str.replace(/'/g, \"''\");\n}\n\n// Подготавливаем данные для сохранения в БД\nreturn [{\n  json: {\n    sessionId: emailData.sessionId || 'test_en_001',\n    email: emailData.emailData.email,\n    clientName: escapeSql(emailData.emailData.name),\n    emailType: emailData.emailData.emailType || 'welcome_pdf',\n    subject: escapeSql(emailData.emailData.subject),\n    content: escapeSql(emailData.emailData.emailContent),\n    attachments: JSON.stringify(emailData.emailData.attachments || []),\n    status: 'sent',\n    platform: emailData.platform || 'telegram',\n    language: emailData.emailData.language || 'ru',\n    gmailId: gmailResponse.id,\n    gmailThreadId: gmailResponse.threadId,\n    sentAt: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -18768,
        -2704
      ],
      "id": "bdd71c19-b1f5-40bf-8757-8de6a62267c3",
      "name": "Save Email Record1"
    },
    {
      "parameters": {
        "jsCode": "// Получаем данные из предыдущего узла Save Email Record\nconst saveResult = $input.first().json;\n\n// Функция для экранирования специальных символов Markdown V2\nfunction escapeMarkdown(text) {\n  if (!text) return '';\n  return String(text)\n    .replace(/\\\\/g, '\\\\\\\\')\n    .replace(/\\*/g, '\\\\*')\n    .replace(/_/g, '\\\\_')\n    .replace(/\\[/g, '\\\\[')\n    .replace(/\\]/g, '\\\\]')\n    .replace(/\\(/g, '\\\\(')\n    .replace(/\\)/g, '\\\\)')\n    .replace(/~/g, '\\\\~')\n    .replace(/`/g, '\\\\`')\n    .replace(/>/g, '\\\\>')\n    .replace(/#/g, '\\\\#')\n    .replace(/\\+/g, '\\\\+')\n    .replace(/-/g, '\\\\-')\n    .replace(/=/g, '\\\\=')\n    .replace(/\\|/g, '\\\\|')\n    .replace(/\\{/g, '\\\\{')\n    .replace(/\\}/g, '\\\\}')\n    .replace(/\\./g, '\\\\.')\n    .replace(/!/g, '\\\\!');\n}\n\n// Безопасное экранирование данных\nconst safeName = escapeMarkdown(saveResult.client_name || 'Не указан');\nconst safeEmail = escapeMarkdown(saveResult.email);\nconst safeSubject = escapeMarkdown(saveResult.subject);\nconst safePlatform = escapeMarkdown(saveResult.platform);\n\n// Формируем красивый отчет для Telegram с правильным экранированием\nconst report = `📧 *Email успешно отправлен\\\\!*\n\n👤 *Клиент:* ${safeName}\n📮 *Email:* ${safeEmail}\n🌐 *Платформа:* ${safePlatform}\n🗣️ *Язык:* ${saveResult.language === 'ru' ? '🇷🇺 Русский' : '🇬🇧 English'}\n\n📎 *Тип письма:* ${escapeMarkdown(saveResult.email_type)}\n📄 *Тема:* ${safeSubject}\n\n✅ *Статус:* ${saveResult.status}\n🆔 *ID записи:* ${saveResult.id}\n🔗 *Session ID:* ${escapeMarkdown(saveResult.session_id)}\n\n⏰ *Время отправки:* ${escapeMarkdown(new Date().toLocaleString('ru-RU', {\n  timeZone: 'Europe/Moscow'\n}))}\n\n💯 *Lead Score:* ${saveResult.lead_score || 0}\n\n\\\\#email\\\\_sent \\\\#${saveResult.platform} \\\\#${saveResult.language}`;\n\nreturn [{\n  json: {\n    message: report,\n    parse_mode: 'MarkdownV2',  // Используем MarkdownV2\n    chat_id: '-1002588885971'  // Правильный ID группы\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -18368,
        -2704
      ],
      "id": "f0300a44-e1d9-4a66-880c-55a0378f8fb1",
      "name": "Prepare Telegram Report"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Проверяем что переменные определены\nINSERT INTO email_follow_ups (\n    email,\n    thread_id,\n    follow_up_date,\n    status,\n    notes,\n    created_at\n) \nSELECT\n    '{{ $json.to }}',  -- Должно быть 'to', не 'email'\n    '{{ $json.threadId }}',  -- Должно быть 'threadId'\n    NOW() + INTERVAL '3 days',\n    'pending',\n    'Lead Score: {{ $json.leadScore || 0 }}',\n    NOW()\nWHERE '{{ $json.to }}' != 'undefined'  -- Защита от undefined\n  AND '{{ $json.threadId }}' != 'undefined'\n  AND NOT EXISTS (\n    SELECT 1 FROM email_follow_ups \n    WHERE email = '{{ $json.to }}'\n    AND (\n        status = 'pending'\n        OR (status = 'sent' AND sent_at > NOW() - INTERVAL '7 days')\n    )\n);\n\nSELECT 'Follow-up processed' as status;",
        "options": {}
      },
      "id": "3d3534d5-d07b-4315-9322-6741eb433669",
      "name": "Schedule Follow-up",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -18608,
        -2928
      ],
      "credentials": {
        "postgres": {
          "id": "dPjh4Kdb4nIbCTQG",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Получаем входящие данные напрямую из предыдущего узла\nconst inputData = $input.first().json;\n\n// Извлекаем нужные поля из входящих данных\nconst email = inputData.email || inputData.from || 'no-email';\nconst threadId = inputData.gmailThreadId || inputData.threadId || 'no-thread';\nconst leadScore = inputData.leadScore || 50;\n\n// Логируем для отладки\nconsole.log('Input data:', inputData);\nconsole.log('Extracted - Email:', email, 'ThreadId:', threadId, 'LeadScore:', leadScore);\n\n// Возвращаем данные для Schedule Follow-up\nreturn [{\n  json: {\n    to: email,\n    threadId: threadId,\n    leadScore: leadScore,\n    followUpDays: 3,\n    internalNote: `Первый контакт. Lead Score: ${leadScore}`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -18800,
        -2928
      ],
      "id": "7e1b6b4a-2121-4474-8854-82615f6ffd59",
      "name": "Prepare Follow-up Data"
    },
    {
      "parameters": {
        "jsCode": "// Подготовка данных для SendPulse OAuth\n// ВАЖНО: Замените эти значения на ваши реальные API credentials из SendPulse\nconst SENDPULSE_API_ID = 'e00470078ad763936dc9578bbe148414'; \nconst SENDPULSE_API_SECRET = 'e98d876685d4779e7248fd6a9cc65e13';\n\n// Формируем данные для получения токена\nreturn [{\n  json: {\n    grant_type: 'client_credentials',\n    client_id: SENDPULSE_API_ID,\n    client_secret: SENDPULSE_API_SECRET\n  }\n}];"
      },
      "id": "62da5d9a-8460-46b2-b4c8-8d27089eae26",
      "name": "Prepare SendPulse Auth",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -18368,
        -2944
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.sendpulse.com/oauth/access_token",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "={{ $json.grant_type }}"
            },
            {
              "name": "client_id",
              "value": "={{ $json.client_id }}"
            },
            {
              "name": "client_secret",
              "value": "={{ $json.client_secret }}"
            }
          ]
        },
        "options": {}
      },
      "id": "bdfa0e8c-9322-4cfb-b606-01b691b131cd",
      "name": "Get SendPulse Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -18176,
        -2944
      ]
    },
    {
      "parameters": {
        "jsCode": "// Получаем данные email из узла Save Email Record1\nconst emailData = $items(\"Save Email Record1\")[0].json;\n\n// Получаем токен SendPulse из узла Get SendPulse Token\nconst sendPulseToken = $items(\"Get SendPulse Token\")[0].json;\n\n// ID адресных книг в SendPulse\nconst ADDRESSBOOKS = {\n  'leads_ru': 1590447,     // ID русской книги лидов\n  'leads_en': 1591644,     // ID английской книги лидов\n  'customers_ru': 1590611, // ID книги русских клиентов\n  'customers_en': 1591645  // ID книги английских клиентов\n};\n\n// Выбираем адресную книгу на основе языка\nconst language = emailData.language || 'ru';\nconst addressbookId = language === 'ru' ? ADDRESSBOOKS.leads_ru : ADDRESSBOOKS.leads_en;\nconst customersBookId = language === 'ru' ? ADDRESSBOOKS.customers_ru : ADDRESSBOOKS.customers_en;\n\n// Логирование для отладки\nconsole.log('Email data from Save Email Record1:', emailData);\nconsole.log('Token received:', sendPulseToken.access_token ? 'Yes' : 'No');\n\n// Подготавливаем данные для добавления в SendPulse\nreturn [{\n  json: {\n    token: sendPulseToken.access_token,\n    tokenType: sendPulseToken.token_type || 'Bearer',\n    addressbookId: addressbookId,\n    customersBookId: customersBookId,\n    emailData: {\n      email: emailData.email,\n      variables: {\n        name: emailData.clientName || '',\n        phone: emailData.phone || '',\n        platform: emailData.platform || 'telegram',\n        session_id: emailData.sessionId,\n        lead_score: emailData.leadScore || 50,\n        added_date: new Date().toISOString().split('T')[0]\n      }\n    },\n    language: language,\n    originalData: emailData\n  }\n}];"
      },
      "id": "33ee5fd7-d9b5-49c3-9e31-b4d54d035d83",
      "name": "Prepare Contact Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -17984,
        -2944
      ]
    },
    {
      "parameters": {
        "url": "=https://api.sendpulse.com/addressbooks/{{ $json.customersBookId }}/emails/{{ $json.emailData.email }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.tokenType }} {{ $json.token }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "99fd0191-eea8-4bcd-9056-fcec54b42577",
      "name": "Check if Customer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -17792,
        -2944
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.message }}",
              "rightValue": "Email not found",
              "operator": {
                "type": "string",
                "operation": "contains"
              },
              "id": "6fe44b79-011f-486b-9db5-95bd0caf74e0"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c7db18a5-eede-4d83-a8f8-3bbf2651aefc",
      "name": "Is Not Customer?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -17600,
        -2944
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.sendpulse.com/addressbooks/{{ $items(\"Prepare Contact Data\")[0].json.addressbookId }}/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $items(\"Prepare Contact Data\")[0].json.tokenType }} {{ $items(\"Prepare Contact Data\")[0].json.token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"emails\": [\n    {\n      \"email\": {{ JSON.stringify($items(\"Prepare Contact Data\")[0].json.emailData.email) }},\n      \"variables\": {\n        \"name\": {{ JSON.stringify($items(\"Prepare Contact Data\")[0].json.emailData.variables.name) }},\n        \"Phone\": {{ JSON.stringify($items(\"Prepare Contact Data\")[0].json.emailData.variables.phone) }},\n        \"platform\": {{ JSON.stringify($items(\"Prepare Contact Data\")[0].json.emailData.variables.platform) }},\n        \"session_id\": {{ JSON.stringify($items(\"Prepare Contact Data\")[0].json.emailData.variables.session_id) }},\n        \"lead_score\": {{ JSON.stringify($items(\"Prepare Contact Data\")[0].json.emailData.variables.lead_score) }},\n        \"added_date\": {{ JSON.stringify($items(\"Prepare Contact Data\")[0].json.emailData.variables.added_date) }}\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "id": "61212217-e4b0-4954-a4c4-827920153d58",
      "name": "Add to SendPulse",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -16896,
        -3136
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO sendpulse_sync (\n    email,\n    addressbook_id,\n    addressbook_name,\n    sync_status,\n    sync_date\n) VALUES (\n    '{{ $items(\"Prepare Contact Data\")[0].json.emailData.email }}',\n    {{ $items(\"Prepare Contact Data\")[0].json.addressbookId }},\n    '{{ $items(\"Prepare Contact Data\")[0].json.language === \"ru\" ? \"leads_ru\" : \"leads_en\" }}',\n    'added',\n    NOW()\n)\nON CONFLICT (email, addressbook_id) \nDO UPDATE SET \n    sync_status = 'updated',\n    sync_date = NOW()\nRETURNING *;",
        "options": {}
      },
      "id": "369f55a6-b2ef-425e-8e52-212e17c83d26",
      "name": "Log SendPulse Sync",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -16736,
        -3296
      ],
      "credentials": {
        "postgres": {
          "id": "dPjh4Kdb4nIbCTQG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Логируем что пользователь уже является клиентом\nconst data = $items(\"Prepare Contact Data\")[0].json;\n\nconsole.log(`User ${data.emailData.email} is already a customer. Skipping add to leads list.`);\n\n// Возвращаем информацию для логирования\nreturn [{\n  json: {\n    email: data.emailData.email,\n    status: 'already_customer',\n    message: 'User is already a customer, not added to leads list',\n    addressbookId: data.customersBookId,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "a083c1b9-cd24-4bc2-ba5c-a838c7096304",
      "name": "Log Existing Customer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -17424,
        -2848
      ]
    },
    {
      "parameters": {
        "url": "=https://api.sendpulse.com/addressbooks/{{ $json.addressbookId }}/emails/{{ $json.emailData.email }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.tokenType }} {{ $json.token }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "db13f9ee-4852-4e28-a687-ca6a015d9c0e",
      "name": "Check if Already Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -17264,
        -3104
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.message }}",
              "rightValue": "Email not found",
              "operator": {
                "type": "string",
                "operation": "contains"
              },
              "id": "6fe44b79-011f-486b-9db5-95bd0caf74e0"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3d7cb5b3-1cdc-46b8-9541-e269be7a6f32",
      "name": "Already in Leads?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -17088,
        -3104
      ]
    },
    {
      "parameters": {
        "jsCode": "// Получаем данные email из узла Save Email Record1\nconst emailData = $items(\"Save Email Record1\")[0].json;\n\n// Получаем токен SendPulse из узла Get SendPulse Token\nconst sendPulseToken = $items(\"Get SendPulse Token\")[0].json;\n\n// ID адресных книг в SendPulse\nconst ADDRESSBOOKS = {\n  'leads_ru': 1590447,     // ID русской книги лидов\n  'leads_en': 1591644,     // ID английской книги лидов\n  'customers_ru': 1590611, // ID книги русских клиентов\n  'customers_en': 1591645  // ID книги английских клиентов\n};\n\n// Выбираем адресную книгу на основе языка\nconst language = emailData.language || 'ru';\nconst addressbookId = language === 'ru' ? ADDRESSBOOKS.leads_ru : ADDRESSBOOKS.leads_en;\nconst customersBookId = language === 'ru' ? ADDRESSBOOKS.customers_ru : ADDRESSBOOKS.customers_en;\n\n// Логирование для отладки\nconsole.log('Email data from Save Email Record1:', emailData);\nconsole.log('Token received:', sendPulseToken.access_token ? 'Yes' : 'No');\n\n// Подготавливаем данные для добавления в SendPulse\nreturn [{\n  json: {\n    token: sendPulseToken.access_token,\n    tokenType: sendPulseToken.token_type || 'Bearer',\n    addressbookId: addressbookId,\n    customersBookId: customersBookId,\n    emailData: {\n      email: emailData.email,\n      variables: {\n        name: emailData.clientName || '',\n        phone: emailData.phone || '',\n        platform: emailData.platform || 'telegram',\n        session_id: emailData.sessionId,\n        lead_score: emailData.leadScore || 50,\n        added_date: new Date().toISOString().split('T')[0]\n      }\n    },\n    language: language,\n    originalData: emailData\n  }\n}];"
      },
      "id": "4c0a1b08-f5b7-4b1c-9853-1f9b0ed60f37",
      "name": "Prepare Contact Data1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -17440,
        -3104
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "73212611-2a14-4a98-8587-14fed2aa3c0f",
              "leftValue": "={{ $json.emailData.emailContent }}||{{ $json.reason }}",
              "rightValue": 50,
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -20096,
        -2480
      ],
      "id": "ba9cfd84-553c-4ea1-a1cc-b384abcf1be5",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Check": {
      "main": [
        [
          {
            "node": "Get Unprocessed Dialogs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Unprocessed Dialogs": {
      "main": [
        [
          {
            "node": "Format Dialogs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Dialogs": {
      "main": [
        [
          {
            "node": "Email Decision Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Decision Agent": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Model": {
      "ai_languageModel": [
        [
          {
            "node": "Email Decision Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Send Email?": {
      "main": [
        [
          {
            "node": "Check Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Duplicate": {
      "main": [
        [
          {
            "node": "Merge Email Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is New Email?": {
      "main": [
        [
          {
            "node": "Get Files from Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Files from Drive": {
      "main": [
        [
          {
            "node": "Send Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Gmail": {
      "main": [
        [
          {
            "node": "Save Email Record1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Email Record": {
      "main": [
        [
          {
            "node": "Prepare Telegram Report",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare SendPulse Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Email Data": {
      "main": [
        [
          {
            "node": "Is New Email?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Email Record1": {
      "main": [
        [
          {
            "node": "Save Email Record",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Follow-up Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Telegram Report": {
      "main": [
        [
          {
            "node": "Notify Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Follow-up Data": {
      "main": [
        [
          {
            "node": "Schedule Follow-up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare SendPulse Auth": {
      "main": [
        [
          {
            "node": "Get SendPulse Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get SendPulse Token": {
      "main": [
        [
          {
            "node": "Prepare Contact Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Contact Data": {
      "main": [
        [
          {
            "node": "Check if Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Customer": {
      "main": [
        [
          {
            "node": "Is Not Customer?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Not Customer?": {
      "main": [
        [
          {
            "node": "Prepare Contact Data1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Existing Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to SendPulse": {
      "main": [
        [
          {
            "node": "Log SendPulse Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Already Lead": {
      "main": [
        [
          {
            "node": "Already in Leads?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Already in Leads?": {
      "main": [
        [
          {
            "node": "Add to SendPulse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Contact Data1": {
      "main": [
        [
          {
            "node": "Check if Already Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Should Send Email?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Unprocessed Dialogs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e962ecac-3e59-4b65-976d-d8184074b04b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9a2a948e1b1119e76dce477f4f08641c41898f344f4216cb90098437b1dcaf00"
  },
  "id": "kwbiltkxVdA5HWbR",
  "tags": []
}