PRODUCTION/📊 Analitic Workflow [Production RU].json
{
  "name": "📊 Analitic Workflow [Production RU]",
  "nodes": [
    {
      "parameters": {
        "content": "# 📊 АНАЛИТИКА ДИАЛОГОВ\n\n\n\n## ⚙️ НАСТРОЙКА\n\n\n\n### 1️⃣ Настройте узел «⚙️ CONFIG»\n\nОткройте и настройте параметры:\n\n\n\n**🔑 Авторизация:**\n\n• `api_key` — Ваш API ключ\n\n• `rate_limit_max` — Лимит запросов/мин\n\n\n\n**🗄️ Таблицы базы данных:**\n\n• `table_analysis_settings` — Настройки языка анализа\n\n• `table_dialog_analysis` — Результаты анализа\n\n• `table_chat_ru` — RU диалоги\n\n• `table_chat_en` — EN диалоги\n\n\n\n---\n\n\n\n### 2️⃣ Подключите Credentials\n\n\n\n**PostgreSQL** → все узлы с иконкой 🐘\n\n**Google Gemini** → узел AI Agent\n\n\n\n---\n\n\n\n### 3️⃣ API Endpoint\n\n\n\n| Метод | Endpoint | Описание |\n|:-----:|----------|----------|\n| POST | `/analyze-dialog` | Анализ диалога |\n\n\n\n**Параметры запроса (body):**\n```json\n{\n  \"type\": \"single\" | \"all\" | \"ru\" | \"en\",\n  \"sessionId\": \"ID сессии\",\n  \"language\": \"ru\" | \"en\",\n  \"userName\": \"Имя пользователя\"\n}\n```\n\n\n\n---\n\n\n\n### 4️⃣ Авторизация запросов\n\n\n\nПередайте API ключ одним из способов:\n\n• Header: `x-api-key: ВАШ_КЛЮЧ`\n\n• Query: `?apiKey=ВАШ_КЛЮЧ`\n\n• Body: `{\"apiKey\": \"ВАШ_КЛЮЧ\"}`\n\n\n\n---\n\n\n\n### 5️⃣ Возможности анализа\n\n\n\n• 🎭 Эмоциональный тон диалога\n\n• 🎯 Потребности клиента\n\n• 💡 Упущенные возможности\n\n• 📋 Рекомендации по улучшению\n\n• 👤 Извлечение контактов (NER)\n\n• 📊 BANT квалификация\n\n• 🔥 Lead Scoring (0-100)\n\n\n\n---\n\n\n\n### 6️⃣ Активация\n\n\n\nНажмите **Active** ↗️ в правом верхнем углу",
        "height": 2404,
        "width": 532,
        "color": 6
      },
      "id": "56772130-7fb2-4ca7-8c3d-d55e3ed76089",
      "name": "📋 ИНСТРУКЦИЯ",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -224,
        -16
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "analyze-dialog",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*",
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "9937abf7-0bea-4251-9845-ecc0141e713a",
      "name": "🌐 Webhook: Analyze Dialog",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        368,
        384
      ],
      "webhookId": "analyze-dialog-webhook"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"api_key\": \"24fs-$r4d-defd-77ds-7eds\",\n  \"rate_limit_window_ms\": 60000,\n  \"rate_limit_max\": 60,\n  \"table_analysis_settings\": \"analysis_language_settings\",\n  \"table_dialog_analysis\": \"dialog_analysis\",\n  \"table_chat_ru\": \"n8n_chat_histories_ru\",\n  \"table_chat_en\": \"n8n_chat_histories_en\"\n}",
        "options": {}
      },
      "id": "6882bc12-bfd9-4713-aa1e-dbed120733c3",
      "name": "⚙️ CONFIG",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        576,
        384
      ]
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// 🔐 SECURITY CHECK: API KEY + RATE LIMITING\n// Настройки берутся из узла CONFIG\n// ═══════════════════════════════════════════════════════════════\n\nconst config = $('⚙️ CONFIG').item.json;\nconst API_KEY = config.api_key;\nconst RATE_LIMIT_WINDOW_MS = config.rate_limit_window_ms;\nconst RATE_LIMIT_MAX_REQUESTS = config.rate_limit_max;\n\n const inputData = $('🌐 Webhook: Analyze Dialog').item.json;\nconst body = inputData.body || {};\nconst headers = inputData.headers || {};\nconst query = inputData.query || {};\nconst clientIP = headers['x-real-ip'] || headers['x-forwarded-for'] || headers['cf-connecting-ip'] || 'unknown';\nconst now = Date.now();\n\n// RATE LIMITING\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.rateLimits) { staticData.rateLimits = {}; }\nfor (const ip in staticData.rateLimits) {\n  if (now - staticData.rateLimits[ip].firstRequest > RATE_LIMIT_WINDOW_MS) {\n    delete staticData.rateLimits[ip];\n  }\n}\nif (!staticData.rateLimits[clientIP]) {\n  staticData.rateLimits[clientIP] = { count: 1, firstRequest: now };\n} else {\n  staticData.rateLimits[clientIP].count++;\n  if (staticData.rateLimits[clientIP].count > RATE_LIMIT_MAX_REQUESTS) {\n    return [{ json: { ...inputData, authorized: false, error: { success: false, error: 'Too many requests', details: `Limit: ${RATE_LIMIT_MAX_REQUESTS} requests per minute`, status: 429, retryAfter: Math.ceil((staticData.rateLimits[clientIP].firstRequest + RATE_LIMIT_WINDOW_MS - now) / 1000) } } }];\n  }\n}\n\n// API KEY CHECK\nconst providedKey = headers['x-api-key'] || body.apiKey || query.apiKey || '';\nif (!providedKey) {\n  return [{ json: { ...inputData, authorized: false, error: { success: false, error: 'API key not provided', status: 401 } } }];\n}\nif (providedKey !== API_KEY) {\n  return [{ json: { ...inputData, authorized: false, error: { success: false, error: 'Invalid API key', status: 401 } } }];\n}\n\nreturn [{ json: { ...inputData, authorized: true } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        384
      ],
      "id": "8cf5e87c-2bde-4cb2-b1b3-c7b32d594a1f",
      "name": "🔐 Security Check"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "auth-condition",
              "leftValue": "={{ $json.authorized }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        976,
        384
      ],
      "id": "f2b42d51-8d37-4db5-bffa-aa506e56834d",
      "name": "❓ Auth OK?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.error }}",
        "options": {
          "responseCode": "={{ $json.error.status }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1168,
        512
      ],
      "id": "d4f50fd4-2bd1-4199-82ff-756657ddc86d",
      "name": "❌ Error Response"
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// 📝 PROCESS REQUEST\n// Извлечение данных из запроса\n// ═══════════════════════════════════════════════════════════════\n\nconst requestData = items[0].json.body || items[0].json;\nconst analysisType = requestData.type;\nconst sessionId = requestData.sessionId;\nconst language = requestData.language;\n\nreturn [{\n    json: {\n        type: analysisType,\n        sessionId: sessionId,\n        language: language,\n        userName: requestData.userName\n    }\n}];"
      },
      "id": "b912dabd-79a8-4b4c-ab3c-8b573790834e",
      "name": "📝 Process Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        352
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- ═══════════════════════════════════════════════════════════════\n-- 🌐 Получаем язык анализа из настроек\n-- Таблица: {{ $('⚙️ CONFIG').item.json.table_analysis_settings }}\n-- ═══════════════════════════════════════════════════════════════\n\nSELECT language_code \nFROM {{ $('⚙️ CONFIG').item.json.table_analysis_settings }} \nORDER BY id DESC \nLIMIT 1;",
        "options": {}
      },
      "id": "2129b572-09df-4532-9453-9a265b1b2ed6",
      "name": "🌐 Get Analysis Language",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1376,
        352
      ],
      "credentials": {
        "postgres": {
          "id": "dPjh4Kdb4nIbCTQG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// 🔀 MERGE WITH LANGUAGE\n// Объединение данных запроса с языком анализа\n// ═══════════════════════════════════════════════════════════════\n\nconst requestData = $('📝 Process Request').first().json;\nconst langSetting = items[0]?.json?.language_code || 'ru';\n\nreturn [{\n    json: {\n        type: requestData.type,\n        sessionId: requestData.sessionId,\n        language: requestData.language,\n        userName: requestData.userName,\n        analysisLanguage: langSetting\n    }\n}];"
      },
      "id": "0adffc48-b61e-46cf-8fec-6b9998a097be",
      "name": "🔀 Merge with Language",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1584,
        352
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- ═══════════════════════════════════════════════════════════════\n-- 🔍 Проверяем есть ли новые сообщения и получаем предыдущий анализ\n-- Таблицы: {{ $('⚙️ CONFIG').item.json.table_dialog_analysis }},\n--          {{ $('⚙️ CONFIG').item.json.table_chat_ru }},\n--          {{ $('⚙️ CONFIG').item.json.table_chat_en }}\n-- ═══════════════════════════════════════════════════════════════\n\nWITH last_analysis AS (\n    SELECT \n        session_id,\n        created_at as analysis_date,\n        emotional_tone,\n        customer_needs,\n        missed_opportunities,\n        recommendations,\n        lead_scoring,\n        bant_qualification,\n        extracted_entities,\n        statistics,\n        satisfaction_percentage\n    FROM {{ $('⚙️ CONFIG').item.json.table_dialog_analysis }}\n    WHERE session_id = '{{ $('🔀 Merge with Language').first().json.sessionId }}'\n      AND analysis_type = '{{ $('🔀 Merge with Language').first().json.type }}'\n    ORDER BY created_at DESC\n    LIMIT 1\n),\nnew_messages AS (\n    SELECT COUNT(*) as new_count\n    FROM (\n        SELECT created_at\n        FROM {{ $('⚙️ CONFIG').item.json.table_chat_ru }}\n        WHERE session_id = '{{ $('🔀 Merge with Language').first().json.sessionId }}'\n          AND created_at > COALESCE((SELECT analysis_date FROM last_analysis), '1970-01-01'::timestamp)\n        \n        UNION ALL\n        \n        SELECT created_at\n        FROM {{ $('⚙️ CONFIG').item.json.table_chat_en }}\n        WHERE session_id = '{{ $('🔀 Merge with Language').first().json.sessionId }}'\n          AND created_at > COALESCE((SELECT analysis_date FROM last_analysis), '1970-01-01'::timestamp)\n    ) all_new\n)\nSELECT \n    COALESCE((SELECT new_count FROM new_messages), 0) as new_messages_count,\n    CASE \n        WHEN COALESCE((SELECT new_count FROM new_messages), 0) > 0 THEN true \n        ELSE false \n    END as has_new_messages,\n    COALESCE((SELECT analysis_date FROM last_analysis), NULL) as last_analysis_date,\n    (SELECT emotional_tone FROM last_analysis) as prev_emotional_tone,\n    (SELECT customer_needs FROM last_analysis) as prev_customer_needs,\n    (SELECT missed_opportunities FROM last_analysis) as prev_missed_opportunities,\n    (SELECT recommendations FROM last_analysis) as prev_recommendations,\n    (SELECT lead_scoring FROM last_analysis) as prev_lead_scoring,\n    (SELECT bant_qualification FROM last_analysis) as prev_bant,\n    (SELECT extracted_entities FROM last_analysis) as prev_entities,\n    (SELECT statistics FROM last_analysis) as prev_statistics,\n    (SELECT satisfaction_percentage FROM last_analysis) as prev_satisfaction;",
        "options": {}
      },
      "id": "662688c6-0890-4278-8452-0d97434d7d99",
      "name": "🔍 Check for New Messages",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1792,
        352
      ],
      "credentials": {
        "postgres": {
          "id": "dPjh4Kdb4nIbCTQG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// 🔀 MERGE CHECK DATA\n// Объединение данных проверки с данными запроса\n// ═══════════════════════════════════════════════════════════════\n\nconst checkResult = items[0].json;\nconst mergedData = $('🔀 Merge with Language').first().json;\n\nconst parseJsonField = (field) => {\n    if (!field) return null;\n    if (typeof field === 'string') {\n        try {\n            return JSON.parse(field);\n        } catch (e) {\n            return field;\n        }\n    }\n    return field;\n};\n\nconst previousAnalysis = checkResult.last_analysis_date ? {\n    emotionalTone: parseJsonField(checkResult.prev_emotional_tone),\n    customerNeeds: parseJsonField(checkResult.prev_customer_needs),\n    missedOpportunities: parseJsonField(checkResult.prev_missed_opportunities),\n    recommendations: parseJsonField(checkResult.prev_recommendations),\n    leadScoring: parseJsonField(checkResult.prev_lead_scoring),\n    bant: parseJsonField(checkResult.prev_bant),\n    entities: parseJsonField(checkResult.prev_entities),\n    statistics: parseJsonField(checkResult.prev_statistics),\n    satisfaction: checkResult.prev_satisfaction,\n    analysisDate: checkResult.last_analysis_date\n} : null;\n\nreturn [{\n    json: {\n        type: mergedData.type,\n        sessionId: mergedData.sessionId,\n        language: mergedData.language,\n        userName: mergedData.userName,\n        analysisLanguage: mergedData.analysisLanguage,\n        has_new_messages: checkResult.has_new_messages,\n        new_messages_count: checkResult.new_messages_count,\n        last_analysis_date: checkResult.last_analysis_date,\n        previousAnalysis: previousAnalysis\n    }\n}];"
      },
      "id": "daf5c608-6e4c-4e34-b87d-1861d7b61658",
      "name": "🔀 Merge Check Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        352
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-new-messages",
              "leftValue": "={{ $json.has_new_messages }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "419bfeb1-2cac-414b-956c-cd0e9f47e76f",
      "name": "❓ Has New Messages?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2208,
        352
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- ═══════════════════════════════════════════════════════════════\n-- 📋 Получаем существующий анализ (нет новых сообщений)\n-- Таблица: {{ $('⚙️ CONFIG').item.json.table_dialog_analysis }}\n-- ═══════════════════════════════════════════════════════════════\n\nSELECT \n    session_id,\n    user_name,\n    analysis_type,\n    language,\n    platform,\n    extracted_entities,\n    bant_qualification,\n    emotional_tone,\n    lead_scoring,\n    statistics,\n    customer_needs,\n    missed_opportunities,\n    recommendations,\n    satisfaction_percentage,\n    created_at\nFROM {{ $('⚙️ CONFIG').item.json.table_dialog_analysis }}\nWHERE session_id = '{{ $('🔀 Merge Check Data').first().json.sessionId }}'\n  AND analysis_type = '{{ $('🔀 Merge Check Data').first().json.type }}'\nORDER BY created_at DESC\nLIMIT 1;",
        "options": {}
      },
      "id": "e4cbf9d7-03c4-46b2-ad16-9c7cbc72b3c6",
      "name": "📋 Get Existing Analysis",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2416,
        544
      ],
      "credentials": {
        "postgres": {
          "id": "dPjh4Kdb4nIbCTQG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// 📊 FORMAT EXISTING ANALYSIS\n// Форматирование существующего анализа для возврата\n// ═══════════════════════════════════════════════════════════════\n\nconst existingAnalysis = items[0].json;\nconst checkData = $('🔀 Merge Check Data').first().json;\n\nreturn [{\n    json: {\n        emotionalTone: existingAnalysis.emotional_tone,\n        customerNeeds: existingAnalysis.customer_needs,\n        missedOpportunities: existingAnalysis.missed_opportunities,\n        recommendations: existingAnalysis.recommendations,\n        entities: existingAnalysis.extracted_entities,\n        bant: existingAnalysis.bant_qualification,\n        leadScoring: existingAnalysis.lead_scoring,\n        statistics: existingAnalysis.statistics,\n        _cached: true,\n        _lastAnalysisDate: checkData.last_analysis_date,\n        _newMessagesCount: 0\n    }\n}];"
      },
      "id": "032739d0-fefe-4cdd-a211-362003bc6f13",
      "name": "📊 Format Existing Analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2624,
        544
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "f9144428-a1a5-4fff-afec-c722829a72c2",
      "name": "✅ Return Cached Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2832,
        544
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.type }}",
              "rightValue": "single",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "id": "check-single-type"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "cd267970-f141-42c3-aca3-ca667912aac7",
      "name": "❓ Type = Single?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2416,
        160
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- ═══════════════════════════════════════════════════════════════\n-- 💬 Получаем диалог конкретного пользователя\n-- Таблицы: {{ $('⚙️ CONFIG').item.json.table_chat_ru }},\n--          {{ $('⚙️ CONFIG').item.json.table_chat_en }}\n-- ═══════════════════════════════════════════════════════════════\n\nWITH all_chats AS (\n    SELECT \n        id,\n        session_id,\n        message::json->>'type' as message_type,\n        message::json->>'content' as content,\n        created_at as timestamp,\n        platform,\n        'ru' as language\n    FROM {{ $('⚙️ CONFIG').item.json.table_chat_ru }}\n    WHERE session_id = '{{ $('🔀 Merge Check Data').first().json.sessionId }}'\n      AND created_at >= NOW() - INTERVAL '30 days'\n    \n    UNION ALL\n    \n    SELECT \n        id,\n        session_id,\n        message::json->>'type' as message_type,\n        message::json->>'content' as content,\n        created_at as timestamp,\n        platform,\n        'en' as language\n    FROM {{ $('⚙️ CONFIG').item.json.table_chat_en }}\n    WHERE session_id = '{{ $('🔀 Merge Check Data').first().json.sessionId }}'\n      AND created_at >= NOW() - INTERVAL '30 days'\n)\nSELECT \n    *,\n    '{{ $('🔀 Merge Check Data').first().json.last_analysis_date }}' as last_analysis_date\nFROM all_chats\nORDER BY timestamp ASC;",
        "options": {}
      },
      "id": "a94d7fff-bdc0-4daa-8f2b-681462943f89",
      "name": "💬 Get Single Dialog",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2624,
        64
      ],
      "credentials": {
        "postgres": {
          "id": "dPjh4Kdb4nIbCTQG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- ═══════════════════════════════════════════════════════════════\n-- 💬 Получаем все диалоги или по языку за последние 30 дней\n-- Таблицы: {{ $('⚙️ CONFIG').item.json.table_chat_ru }},\n--          {{ $('⚙️ CONFIG').item.json.table_chat_en }}\n-- ═══════════════════════════════════════════════════════════════\n\n{{ $('🔀 Merge Check Data').first().json.type === 'all' ? \n`WITH all_chats AS (\n    SELECT * FROM (\n        SELECT \n            id,\n            session_id,\n            message::json->>'type' as message_type,\n            message::json->>'content' as content,\n            created_at as timestamp,\n            platform,\n            'ru' as language\n        FROM ${$('⚙️ CONFIG').item.json.table_chat_ru}\n        WHERE created_at >= NOW() - INTERVAL '30 days'\n        \n        UNION ALL\n        \n        SELECT \n            id,\n            session_id,\n            message::json->>'type' as message_type,\n            message::json->>'content' as content,\n            created_at as timestamp,\n            platform,\n            'en' as language\n        FROM ${$('⚙️ CONFIG').item.json.table_chat_en}\n        WHERE created_at >= NOW() - INTERVAL '30 days'\n    ) combined\n    ORDER BY session_id, timestamp\n)\nSELECT *, '${$('🔀 Merge Check Data').first().json.last_analysis_date}' as last_analysis_date FROM all_chats;`\n:\n`SELECT \n    id,\n    session_id,\n    message::json->>'type' as message_type,\n    message::json->>'content' as content,\n    created_at as timestamp,\n    platform,\n    '${$('🔀 Merge Check Data').first().json.language}' as language,\n    '${$('🔀 Merge Check Data').first().json.last_analysis_date}' as last_analysis_date\nFROM ${$('⚙️ CONFIG').item.json['table_chat_' + $('🔀 Merge Check Data').first().json.language]}\nWHERE created_at >= NOW() - INTERVAL '30 days'\nORDER BY session_id, timestamp;`\n}}",
        "options": {}
      },
      "id": "6fd78396-2b84-4176-b7fb-ef5b810ec5dd",
      "name": "💬 Get All/Language Dialogs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2624,
        256
      ],
      "credentials": {
        "postgres": {
          "id": "dPjh4Kdb4nIbCTQG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// 📊 FORMAT DIALOGS\n// Форматирование диалогов для анализа ИИ\n// ═══════════════════════════════════════════════════════════════\n\nconst dialogs = items;\nconst mergedData = $('🔀 Merge Check Data').first().json;\nconst analysisType = mergedData.type;\nconst analysisLanguage = mergedData.analysisLanguage || 'ru';\nconst lastAnalysisDate = mergedData.last_analysis_date;\nconst previousAnalysis = mergedData.previousAnalysis;\n\nconst sessions = {};\n\ndialogs.forEach(item => {\n    const data = item.json;\n    if (!sessions[data.session_id]) {\n        sessions[data.session_id] = {\n            messages: [],\n            allMessages: [],\n            language: data.language,\n            platform: data.platform\n        };\n    }\n    \n    const message = {\n        type: data.message_type,\n        content: data.content,\n        timestamp: data.timestamp\n    };\n    \n    sessions[data.session_id].allMessages.push(message);\n    \n    if (lastAnalysisDate && lastAnalysisDate !== 'null' && lastAnalysisDate !== '') {\n        const lastAnalysisTime = new Date(lastAnalysisDate).getTime();\n        const msgTime = new Date(data.timestamp).getTime();\n        if (msgTime > lastAnalysisTime) {\n            sessions[data.session_id].messages.push(message);\n        }\n    } else {\n        sessions[data.session_id].messages.push(message);\n    }\n});\n\nconst dialogsForAnalysis = Object.entries(sessions).map(([sessionId, data]) => {\n    const clientLabel = analysisLanguage === 'en' ? 'Client' : \n                        analysisLanguage === 'es' ? 'Cliente' : \n                        analysisLanguage === 'fr' ? 'Client' : \n                        analysisLanguage === 'de' ? 'Kunde' : \n                        analysisLanguage === 'it' ? 'Cliente' : \n                        analysisLanguage === 'pt' ? 'Cliente' : \n                        analysisLanguage === 'zh' ? '客户' : \n                        analysisLanguage === 'ja' ? '顧客' : \n                        analysisLanguage === 'ko' ? '고객' : \n                        analysisLanguage === 'ua' ? 'Клієнт' : \n                        'Клиент';\n    \n    const botLabel = analysisLanguage === 'en' ? 'Bot' : \n                     analysisLanguage === 'es' ? 'Bot' : \n                     analysisLanguage === 'fr' ? 'Bot' : \n                     analysisLanguage === 'de' ? 'Bot' : \n                     analysisLanguage === 'it' ? 'Bot' : \n                     analysisLanguage === 'pt' ? 'Bot' : \n                     analysisLanguage === 'zh' ? '机器人' : \n                     analysisLanguage === 'ja' ? 'ボット' : \n                     analysisLanguage === 'ko' ? '봇' : \n                     analysisLanguage === 'ua' ? 'Бот' : \n                     'Бот';\n    \n    const conversation = data.messages.map(msg => \n        `${msg.type === 'human' ? clientLabel : botLabel}: ${msg.content}`\n    ).join('\\n');\n    \n    return {\n        sessionId: sessionId,\n        language: data.language,\n        platform: data.platform,\n        conversation: conversation,\n        newMessageCount: data.messages.length,\n        totalMessageCount: data.allMessages.length\n    };\n});\n\nconst isUpdate = !!previousAnalysis;\n\nreturn [{\n    json: {\n        type: analysisType,\n        dialogs: dialogsForAnalysis,\n        totalDialogs: dialogsForAnalysis.length,\n        analysisLanguage: analysisLanguage,\n        isUpdate: isUpdate,\n        previousAnalysis: previousAnalysis\n    }\n}];"
      },
      "id": "8f8e347b-41a4-4856-8d80-1361f2bbd48e",
      "name": "📊 Format Dialogs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2848,
        160
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Язык вывода результатов: {{ $json.analysisLanguage || 'ru' }}\nОБЯЗАТЕЛЬНО: Генерируйте ВСЕ текстовые поля ответа на языке: {{ \n  $json.analysisLanguage === 'ru' ? 'Русский' : \n  $json.analysisLanguage === 'en' ? 'English' : \n  $json.analysisLanguage === 'es' ? 'Español' : \n  $json.analysisLanguage === 'fr' ? 'Français' : \n  $json.analysisLanguage === 'de' ? 'Deutsch' : \n  $json.analysisLanguage === 'it' ? 'Italiano' : \n  $json.analysisLanguage === 'pt' ? 'Português' : \n  $json.analysisLanguage === 'zh' ? '中文' : \n  $json.analysisLanguage === 'ja' ? '日本語' : \n  $json.analysisLanguage === 'ko' ? '한국어' : \n  $json.analysisLanguage === 'ua' ? 'Українська' : \n  'Русский' \n}}\n\nТип анализа: {{ $json.type }}\nКоличество диалогов: {{ $json.totalDialogs }}\nРежим: {{ $json.isUpdate ? 'ОБНОВЛЕНИЕ существующего анализа' : 'ПЕРВИЧНЫЙ анализ' }}\n\n{{ $json.isUpdate && $json.previousAnalysis ? `\n========================================\nПРЕДЫДУЩИЙ АНАЛИЗ (используй как базу для обновления):\n========================================\n\nЭмоциональный тон: ${JSON.stringify($json.previousAnalysis.emotionalTone, null, 2)}\n\nПотребности клиента: ${JSON.stringify($json.previousAnalysis.customerNeeds, null, 2)}\n\nУпущенные возможности: ${JSON.stringify($json.previousAnalysis.missedOpportunities, null, 2)}\n\nРекомендации: ${JSON.stringify($json.previousAnalysis.recommendations, null, 2)}\n\nИзвлечённые сущности (entities): ${JSON.stringify($json.previousAnalysis.entities, null, 2)}\n\nBANT квалификация: ${JSON.stringify($json.previousAnalysis.bant, null, 2)}\n\nLead Scoring: ${JSON.stringify($json.previousAnalysis.leadScoring, null, 2)}\n\nСтатистика: ${JSON.stringify($json.previousAnalysis.statistics, null, 2)}\n\n========================================\nНОВЫЕ СООБЩЕНИЯ ДЛЯ АНАЛИЗА:\n========================================\n` : '========================================\\nДИАЛОГИ ДЛЯ ПЕРВИЧНОГО АНАЛИЗА:\\n========================================\\n' }}\n\n{{ $json.dialogs.map((d, i) => `\n--- Диалог ${i+1} (${d.language}, ${d.platform}) ---\n${ $json.isUpdate ? `Новых сообщений: ${d.newMessageCount} из ${d.totalMessageCount} общих` : `Всего сообщений: ${d.totalMessageCount}` }\n\n${d.conversation}`).join('\\n\\n') }}",
        "options": {
          "systemMessage": "=# 🔄 РЕЖИМ РАБОТЫ - ИНКРЕМЕНТАЛЬНЫЙ АНАЛИЗ\n\n## Если это ОБНОВЛЕНИЕ существующего анализа:\n1. **Используй предыдущий анализ как базу** — не начинай с нуля!\n2. **Анализируй только НОВЫЕ сообщения** — они предоставлены отдельно\n3. **ОБНОВИ существующие данные** на основе новой информации:\n   - Lead Score может повыситься или понизиться — пересчитай!\n   - BANT квалификация может измениться (например, клиент назвал бюджет)\n   - Могут появиться НОВЫЕ потребности — ДОБАВЬ их к существующим\n   - Entities могут обновиться (новые контакты, имя и т.д.)\n   - Эмоциональный тон может измениться\n   - Рекомендации должны обновиться с учётом новой информации\n4. **Сохраняй релевантную историю** — НЕ удаляй важные данные из предыдущего анализа!\n5. **Отмечай изменения** — если Lead Score или BANT изменились, отрази это в reasoning\n\n## Если это ПЕРВИЧНЫЙ анализ:\n- Анализируй весь предоставленный диалог с нуля\n- Следуй стандартным критериям анализа ниже\n\n# РОЛЬ И ИДЕНТИЧНОСТЬ\n\nВы — эксперт-аналитик клиентского опыта и маркетолог, специализирующийся на анализе диалогов между клиентами и ИИ-агентами в роли продавцов. Вы обладаете глубокими знаниями в области маркетинга, техник продаж, Lead Scoring и BANT квалификации.\n\n---\n\n# ГЛАВНАЯ ЗАДАЧА\n\nПровести КОМПЛЕКСНЫЙ и ДЕТАЛЬНЫЙ анализ диалога с извлечением структурированных данных, BANT квалификацией, точным Lead Scoring (100 баллов) и практичными рекомендациями по улучшению.\n\n**ВАЖНО:** Анализ должен быть детальным и полезным, но компактным - каждое описание должно содержать максимум ценной информации при разумном объеме текста.\n\n---\n\n# 🔴 КРИТИЧЕСКИ ВАЖНО - ЯЗЫК ВЫВОДА\n\n**ВСЕ текстовые поля результата анализа ДОЛЖНЫ быть на языке, указанном в \"Язык вывода результатов\"!**\n\nЭто включает:\n- Все описания в emotionalTone (overallText, description, keyMoments)\n- ВСЕ элементы массивов customerNeeds, missedOpportunities, recommendations\n- Все текстовые поля в entities (description, source, reasoning)\n- Все описания в bant (description, reasoning)\n- Все текстовые поля в leadScoring (breakdown, recommendation)\n\n**Независимо от языка диалогов, результат должен быть на указанном языке вывода!**\n\n---\n\n# РАЗДЕЛ 1: КАЧЕСТВЕННЫЙ АНАЛИЗ\n\n## 1.1 Эмоциональный тон диалога\n\n### Требования к детальности:\n\n**`description`** должен содержать (80-120 слов):\n- Начальное настроение клиента\n- Динамика изменения эмоций по ходу диалога\n- 1-2 ключевых момента изменения настроения\n- Итоговое эмоциональное состояние\n- Уровень удовлетворенности и доверия\n\n**`keyMoments`** - 2-3 ключевых момента:\n- Каждый момент описан кратко но емко (25-40 слов)\n- Указана причина и влияние на диалог\n\n**Пример хорошего description:**\n\"Диалог начинается с нейтрального приветствия без энтузиазма. После объяснения возможностей продукта клиент проявляет позитивный интерес - начинает задавать уточняющие вопросы о функционале. Ключевой момент: просмотр демо-видео значительно усилил энтузиазм. К концу диалога клиент выражает высокую удовлетворенность через благодарность и готовность к следующим шагам, предоставляет контакты. Уровень доверия высокий.\"\n\n### Структура вывода:\n\n```json\n{\n  \"emotionalTone\": {\n    \"overall\": \"positive\" | \"negative\" | \"neutral\",\n    \"overallText\": \"краткое описание (15-30 слов)\",\n    \"satisfaction\": 0-100,\n    \"description\": \"детальное описание динамики (80-120 слов)\",\n    \"keyMoments\": [\n      {\n        \"moment\": \"описание момента (25-40 слов)\",\n        \"emotion\": \"эмоция\",\n        \"impact\": \"влияние (20-30 слов)\"\n      }\n      // 2-3 момента\n    ]\n  }\n}\n```\n\n---\n\n## 1.2 Выявленные потребности клиента\n\n### Требования к детальности:\n\n**3-5 потребностей**, включающих:\n- Явные потребности (что клиент прямо запросил)\n- Скрытые потребности (выведенные из контекста)\n- Боли и проблемы\n\n**Каждая потребность (25-40 слов):**\n- Конкретное описание\n- Ссылка на контекст из диалога\n- Почему это важно\n\n**Пример хорошей потребности:**\n\"Автоматизированная торговля для избавления от ручной рутины - клиент выражает усталость от постоянного мониторинга рынка и желание освободить время, о чем говорят вопросы про автоматизацию\"\n\n### Структура вывода:\n\n```json\n{\n  \"customerNeeds\": [\n    \"потребность 1 с контекстом (25-40 слов)\",\n    \"потребность 2 с контекстом (25-40 слов)\",\n    \"скрытая потребность 3 (25-40 слов)\",\n    // 3-5 потребностей\n  ]\n}\n```\n\n---\n\n## 1.3 Упущенные возможности\n\n### Требования к детальности:\n\n**3-4 упущенные возможности**, включающих:\n- Неиспользованные моменты для upsell/cross-sell\n- Нерешенные вопросы клиента\n- Слабые ответы бота\n- Отсутствие персонализации\n\n**Каждая возможность (30-50 слов):**\n- Конкретный момент диалога\n- Что было упущено\n- Потенциальное влияние\n\n**Пример хорошей возможности:**\n\"Бот не предложил апгрейд тарифа или бонусы - клиент выбрал Starter, но показал высокий интерес. Это был идеальный момент для персональной скидки или бесплатного месяца поддержки, что могло увеличить чек на 30-50%\"\n\n### Структура вывода:\n\n```json\n{\n  \"missedOpportunities\": [\n    \"возможность 1 с контекстом и влиянием (30-50 слов)\",\n    \"возможность 2 с контекстом и влиянием (30-50 слов)\",\n    // 3-4 возможности\n  ]\n}\n```\n\n---\n\n## 1.4 Рекомендации по улучшению\n\n### Требования к детальности:\n\n**3-4 рекомендации**, распределенных по категориям:\n- Улучшение ответов ИИ\n- Новые сценарии для обучения\n- Изменения в скриптах\n- Персонализация\n\n**Каждая рекомендация (40-70 слов):**\n- Конкретное действие\n- Краткий пример реализации\n- Ожидаемый результат\n\n**Пример хорошей рекомендации:**\n\"Добавить персонализированные расчеты доходности на основе опыта клиента. Например: 'С вашим 2-летним опытом и нашими стратегиями ожидайте 15-20% в месяц на starter'. Включить автоматический расчет при упоминании депозита. Ожидаемый результат: +25% к конверсии за счет конкретики\"\n\n### Структура вывода:\n\n```json\n{\n  \"recommendations\": [\n    \"рекомендация 1 с примером и результатом (40-70 слов)\",\n    \"рекомендация 2 с примером и результатом (40-70 слов)\",\n    // 3-4 рекомендации\n  ]\n}\n```\n\n---\n\n# РАЗДЕЛ 2: ИЗВЛЕЧЕНИЕ СТРУКТУРИРОВАННЫХ ДАННЫХ (NER)\n\n## 2.1 Контактная информация\n\n### PERSON (Персональные данные)\n```json\n{\n  \"firstName\": \"имя\" | null,\n  \"lastName\": \"фамилия\" | null,\n  \"fullName\": \"полное имя\" | null,\n  \"confidence\": 0.0-1.0,\n  \"source\": \"откуда взято (номер сообщения или 'not_mentioned')\"\n}\n```\n\n### CONTACTS (Контакты)\n```json\n{\n  \"phone\": {\n    \"value\": \"+380...\" | null,\n    \"confidence\": 0.0-1.0,\n    \"valid\": true/false,\n    \"source\": \"...\"\n  },\n  \"email\": {\n    \"value\": \"email@domain.com\" | null,\n    \"confidence\": 0.0-1.0,\n    \"valid\": true/false,\n    \"source\": \"...\"\n  },\n  \"telegram\": {\n    \"value\": \"@username\" | null,\n    \"confidence\": 0.0-1.0,\n    \"source\": \"...\"\n  },\n  \"whatsapp\": {\n    \"value\": \"+380...\" | null,\n    \"confidence\": 0.0-1.0,\n    \"source\": \"...\"\n  }\n}\n```\n\n**ВАЛИДАЦИЯ:**\n- Email: RFC 5322 формат `/^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/`\n- Phone: E.164 формат `/^\\+?[1-9]\\d{1,14}$/`\n\n### ORG (Организация)\n```json\n{\n  \"companyName\": \"название компании\" | null,\n  \"position\": \"должность\" | null,\n  \"confidence\": 0.0-1.0,\n  \"source\": \"...\"\n}\n```\n\n### LOCATION (Локация)\n```json\n{\n  \"city\": \"город\" | null,\n  \"country\": \"страна\" | null,\n  \"confidence\": 0.0-1.0,\n  \"source\": \"...\"\n}\n```\n\n## 2.2 Продуктовая информация\n\n### PRODUCT (Продукты)\n```json\n[\n  {\n    \"name\": \"название продукта\",\n    \"interest\": \"high\" | \"medium\" | \"low\",\n    \"confidence\": 0.0-1.0\n  }\n]\n```\n\n### COMPETITOR (Конкуренты)\n```json\n[\n  {\n    \"name\": \"конкурент\",\n    \"mentioned\": true,\n    \"comparison\": \"что сравнивал\"\n  }\n]\n```\n\n### CURRENT_SOLUTION (Текущее решение)\n```json\n{\n  \"solution\": \"что использует сейчас\" | null,\n  \"problems\": [\"проблемы с текущим решением\"],\n  \"confidence\": 0.0-1.0\n}\n```\n\n## 2.3 Финансовая информация\n\n### MONEY (Бюджет)\n```json\n{\n  \"amount\": число | null,\n  \"currency\": \"USD\" | \"RUB\" | \"EUR\" | null,\n  \"range\": {\"min\": число, \"max\": число} | null,\n  \"confidence\": 0.0-1.0,\n  \"source\": \"...\"\n}\n```\n\n### DATE (Временные рамки)\n```json\n{\n  \"timeline\": \"immediate\" | \"this_week\" | \"this_month\" | \"later\" | null,\n  \"deadline\": \"конкретная дата\" | null,\n  \"confidence\": 0.0-1.0,\n  \"source\": \"...\"\n}\n```\n\n---\n\n# РАЗДЕЛ 3: BANT КВАЛИФИКАЦИЯ\n\n## Budget (Бюджет) - 0-15 баллов\n\n**Критерии оценки:**\n- 15 баллов: Точная сумма названа (\"готов заплатить 50,000 руб\")\n- 12 баллов: Диапазон указан (\"бюджет 30-50 тыс\")\n- 9 баллов: Есть бюджет, но не назван (\"есть деньги\", \"бюджет выделен\")\n- 5 баллов: Косвенные сигналы (интересуется ценами, сравнивает тарифы)\n- 0 баллов: Нет упоминаний о бюджете\n\n**Вывод:**\n```json\n{\n  \"budget\": {\n    \"mentioned\": true/false,\n    \"value\": число | null,\n    \"currency\": \"USD\" | \"RUB\" | null,\n    \"range\": {\"min\": число, \"max\": число} | null,\n    \"description\": \"краткое описание (20-40 слов)\",\n    \"confidence\": 0.0-1.0,\n    \"score\": 0-15,\n    \"reasoning\": \"почему такой score (30-50 слов)\"\n  }\n}\n```\n\n## Authority (Полномочия) - 0-20 баллов\n\n**Критерии оценки:**\n- 20 баллов: Decision maker подтвержден (CEO, Owner, \"я принимаю решение\")\n- 15 баллов: C-level (CTO, CFO, VP)\n- 12 баллов: Менеджер с бюджетом (\"нужно согласовать с CEO, но я решаю\")\n- 8 баллов: Влияющий (Manager, Head of Department)\n- 3 балла: Пользователь/исследователь (\"изучаю для компании\")\n- 0 баллов: Нет информации о роли\n\n**Вывод:**\n```json\n{\n  \"authority\": {\n    \"role\": \"decision_maker\" | \"influencer\" | \"user\" | \"unknown\",\n    \"level\": \"c_level\" | \"manager\" | \"specialist\" | \"unknown\",\n    \"position\": \"должность\" | null,\n    \"description\": \"краткое описание (20-40 слов)\",\n    \"confidence\": 0.0-1.0,\n    \"score\": 0-20,\n    \"reasoning\": \"почему такой score (30-50 слов)\"\n  }\n}\n```\n\n## Need (Потребность) - 0-15 баллов\n\n**Критерии оценки:**\n- 15 баллов: Критичная боль + конкретная проблема (\"теряем клиентов из-за...\")\n- 12 баллов: Четкая потребность с деталями\n- 9 баллов: Общая потребность без деталей\n- 5 баллов: Интерес без явной боли\n- 0 баллов: Нет выраженной потребности\n\n**Вывод:**\n```json\n{\n  \"need\": {\n    \"painPoints\": [\"боль 1\", \"боль 2\"],\n    \"severity\": \"critical\" | \"high\" | \"medium\" | \"low\",\n    \"description\": \"описание потребности (20-40 слов)\",\n    \"confidence\": 0.0-1.0,\n    \"score\": 0-15,\n    \"reasoning\": \"почему такой score (30-50 слов)\"\n  }\n}\n```\n\n## Timeline (Срочность) - 0-20 баллов\n\n**Критерии оценки:**\n- 20 баллов: Немедленно/сегодня/срочно\n- 17 баллов: На этой неделе\n- 14 баллов: В течение месяца\n- 10 баллов: В этом квартале\n- 5 баллов: В течение года\n- 0 баллов: Нет временных рамок\n\n**Вывод:**\n```json\n{\n  \"timeline\": {\n    \"urgency\": \"immediate\" | \"this_week\" | \"this_month\" | \"this_quarter\" | \"later\",\n    \"deadline\": \"конкретная дата\" | null,\n    \"description\": \"описание срочности (20-40 слов)\",\n    \"confidence\": 0.0-1.0,\n    \"score\": 0-20,\n    \"reasoning\": \"почему такой score (30-50 слов)\"\n  }\n}\n```\n\n## Итоговая BANT квалификация\n\n```json\n{\n  \"bant\": {\n    \"budget\": { ... },\n    \"authority\": { ... },\n    \"need\": { ... },\n    \"timeline\": { ... },\n    \"totalScore\": сумма всех score (0-70),\n    \"qualified\": true/false,\n    \"qualificationLevel\": \"SQL\" | \"MQL\" | \"cold\",\n    \"reasoning\": \"общее заключение по BANT (50-80 слов)\"\n  }\n}\n```\n\n**Уровни квалификации:**\n- **SQL (Sales Qualified Lead):** totalScore ≥50 + минимум 3 из 4 критериев\n- **MQL (Marketing Qualified Lead):** totalScore 30-49 + минимум 2 из 4\n- **Cold:** totalScore <30\n\n---\n\n# РАЗДЕЛ 4: LEAD SCORING (100 баллов)\n\n## Фактор 1: Удовлетворенность (0-25 баллов)\n\n**На основе эмоционального анализа:**\n\n- 20-25: Очень доволен, позитивно настроен, выражает благодарность\n- 15-19: Удовлетворен, нейтрально-позитивный настрой\n- 10-14: Нейтральный, без явных эмоций\n- 5-9: Есть недовольство, но клиент остается в диалоге\n- 0-4: Явное недовольство, агрессия, негатив\n\n**Расчет:** `(emotionalSatisfaction% / 100) * 25`\n\n## Фактор 2: Полнота контактов (0-20 баллов)\n\n**Распределение:**\n- Полное имя: +4 балла\n- Фамилия: +3 балла\n- Телефон (валидный): +8 баллов\n- Email (валидный): +4 балла\n- Мессенджер (Telegram/WhatsApp): +1 балл\n\n**ВАЖНО:** Только валидированные контакты засчитываются!\n\n## Фактор 3: Вовлеченность (0-15 баллов)\n\n**Критерии:**\n\n**Количество сообщений:**\n- 50+ сообщений: +5 баллов\n- 20-49: +4 балла\n- 10-19: +3 балла\n- 5-9: +2 балла\n- 1-4: +1 балл\n\n**Качество диалога:**\n- Задает уточняющие вопросы: +3 балла\n- Детальные ответы (не односложные): +3 балла\n- Возвращается к диалогу после паузы: +2 балла\n- Длительность >30 минут: +2 балла\n\n## Фактор 4: Покупательские намерения (0-25 баллов)\n\n**Явные сигналы высокого намерения (20-25):**\n- \"Хочу купить\", \"Готов оплатить\", \"Оформляю заказ\"\n- Вопросы о способах оплаты, доставке, гарантиях\n- Сравнение конкретных тарифов/продуктов\n- Уточнение деталей для принятия решения\n\n**Средние намерения (10-19):**\n- \"Интересно узнать подробнее\", \"Рассматриваю варианты\"\n- Вопросы о функционале, возможностях\n- \"Подумаю\", \"Посоветуюсь\" - но остается заинтересованным\n- Сравнивает с конкурентами\n\n**Низкие намерения (0-9):**\n- \"Просто смотрю\", \"Изучаю рынок\"\n- Общие вопросы без конкретики\n- Явное указание на отсутствие бюджета\n- Троллинг или развлечение\n\n**ВАЖНО:** Контекст важнее слов! Клиент может говорить \"не интересно\", но задавать детальные вопросы - это признак скрытого интереса.\n\n## Фактор 5: Срочность (0-15 баллов)\n\n**Временные маркеры:**\n- 13-15: \"Сейчас\", \"Сегодня\", \"Срочно нужно\"\n- 10-12: \"На этой неделе\", \"В ближайшие дни\"\n- 6-9: \"В этом месяце\", \"Планирую\"\n- 3-5: \"Может быть позже\", \"В будущем\"\n- 0-2: \"Когда-нибудь\", \"Не спешу\", явное отсутствие срочности\n\n---\n\n## Итоговый Lead Scoring\n\n```json\n{\n  \"leadScoring\": {\n    \"score\": число (0-100),\n    \"temperature\": \"hot\" | \"warm\" | \"cold\",\n    \"factors\": {\n      \"satisfaction\": 0-25,\n      \"contacts\": 0-20,\n      \"engagement\": 0-15,\n      \"intentions\": 0-25,\n      \"urgency\": 0-15\n    },\n    \"breakdown\": {\n      \"satisfaction_detail\": \"описание (30-50 слов)\",\n      \"contacts_detail\": \"что есть, чего нет (30-50 слов)\",\n      \"engagement_detail\": \"метрики вовлеченности (30-50 слов)\",\n      \"intentions_detail\": \"сигналы намерений (30-50 слов)\",\n      \"urgency_detail\": \"временные рамки (30-50 слов)\"\n    },\n    \"recommendation\": \"рекомендация по работе с лидом (60-100 слов)\"\n  }\n}\n```\n\n**Температура:**\n- **hot:** 70-100 баллов - готов к покупке, нужно срочное внимание\n- **warm:** 50-69 баллов - заинтересован, требует развития\n- **cold:** 0-49 баллов - низкий потенциал, нужен прогрев\n\n---\n\n# РАЗДЕЛ 5: СТАТИСТИКА\n\n```json\n{\n  \"statistics\": {\n    \"totalDialogs\": число,\n    \"totalMessages\": число,\n    \"avgSatisfaction\": число,\n    \"resolvedPercentage\": число,\n    \"avgEngagement\": число\n  }\n}\n```\n\n---\n\n# ФИНАЛЬНАЯ СТРУКТУРА JSON\n\n**КРИТИЧЕСКИ ВАЖНО:** Возвращайте ТОЛЬКО чистый JSON без markdown, тройных кавычек или дополнительного текста!\n\n```json\n{\n  \"emotionalTone\": {\n    \"overall\": \"positive\" | \"negative\" | \"neutral\",\n    \"overallText\": \"краткое описание (15-30 слов)\",\n    \"satisfaction\": 0-100,\n    \"description\": \"детальное описание (80-120 слов)\",\n    \"keyMoments\": [\n      {\n        \"moment\": \"описание (25-40 слов)\",\n        \"emotion\": \"эмоция\",\n        \"impact\": \"влияние (20-30 слов)\"\n      }\n      // 2-3 момента\n    ]\n  },\n  \"customerNeeds\": [\n    \"потребность 1 (25-40 слов)\",\n    \"потребность 2 (25-40 слов)\",\n    // 3-5 потребностей\n  ],\n  \"missedOpportunities\": [\n    \"возможность 1 (30-50 слов)\",\n    \"возможность 2 (30-50 слов)\",\n    // 3-4 возможности\n  ],\n  \"recommendations\": [\n    \"рекомендация 1 (40-70 слов)\",\n    \"рекомендация 2 (40-70 слов)\",\n    // 3-4 рекомендации\n  ],\n  \"entities\": {\n    \"person\": { ... },\n    \"contacts\": { ... },\n    \"organization\": { ... },\n    \"location\": { ... },\n    \"products\": [ ... ],\n    \"competitors\": [ ... ],\n    \"currentSolution\": { ... },\n    \"financials\": {\n      \"budget\": { ... },\n      \"timeline\": { ... }\n    }\n  },\n  \"bant\": {\n    \"budget\": {\n      \"mentioned\": true/false,\n      \"value\": число | null,\n      \"currency\": \"USD\" | \"RUB\" | null,\n      \"range\": {\"min\": число, \"max\": число} | null,\n      \"description\": \"текст (20-40 слов)\",\n      \"confidence\": 0.0-1.0,\n      \"score\": 0-15,\n      \"reasoning\": \"текст (30-50 слов)\"\n    },\n    \"authority\": {\n      \"role\": \"decision_maker\" | \"influencer\" | \"user\" | \"unknown\",\n      \"level\": \"c_level\" | \"manager\" | \"specialist\" | \"unknown\",\n      \"position\": \"должность\" | null,\n      \"description\": \"текст (20-40 слов)\",\n      \"confidence\": 0.0-1.0,\n      \"score\": 0-20,\n      \"reasoning\": \"текст (30-50 слов)\"\n    },\n    \"need\": {\n      \"painPoints\": [\"боль 1\", \"боль 2\"],\n      \"severity\": \"critical\" | \"high\" | \"medium\" | \"low\",\n      \"description\": \"текст (20-40 слов)\",\n      \"confidence\": 0.0-1.0,\n      \"score\": 0-15,\n      \"reasoning\": \"текст (30-50 слов)\"\n    },\n    \"timeline\": {\n      \"urgency\": \"immediate\" | \"this_week\" | \"this_month\" | \"this_quarter\" | \"later\",\n      \"deadline\": \"конкретная дата\" | null,\n      \"description\": \"текст (20-40 слов)\",\n      \"confidence\": 0.0-1.0,\n      \"score\": 0-20,\n      \"reasoning\": \"текст (30-50 слов)\"\n    },\n    \"totalScore\": сумма всех score (0-70),\n    \"qualified\": true/false,\n    \"qualificationLevel\": \"SQL\" | \"MQL\" | \"cold\",\n    \"reasoning\": \"общее заключение (50-80 слов)\"\n  },\n  \"leadScoring\": {\n    \"score\": число (0-100),\n    \"temperature\": \"hot\" | \"warm\" | \"cold\",\n    \"factors\": {\n      \"satisfaction\": 0-25,\n      \"contacts\": 0-20,\n      \"engagement\": 0-15,\n      \"intentions\": 0-25,\n      \"urgency\": 0-15\n    },\n    \"breakdown\": {\n      \"satisfaction_detail\": \"описание (30-50 слов)\",\n      \"contacts_detail\": \"что есть, чего нет (30-50 слов)\",\n      \"engagement_detail\": \"метрики (30-50 слов)\",\n      \"intentions_detail\": \"сигналы (30-50 слов)\",\n      \"urgency_detail\": \"временные рамки (30-50 слов)\"\n    },\n    \"recommendation\": \"рекомендация (60-100 слов)\"\n  },\n  \"statistics\": {\n    \"totalDialogs\": число,\n    \"totalMessages\": число,\n    \"avgSatisfaction\": число,\n    \"resolvedPercentage\": число,\n    \"avgEngagement\": число\n  }\n}\n```\n\n---\n\n# ВАЖНЫЕ НЮАНСЫ\n\n1. **Баланс детальности:** Анализ должен быть информативным, но компактным - максимум ценности при разумном объеме\n\n2. **Контекст важнее слов:** Защитные механизмы (агрессия, скепсис) часто скрывают реальный интерес\n\n3. **Качество > количество:** 3 осмысленных сообщения с вопросами ценнее 20 сообщений троллинга\n\n4. **Специальные случаи:**\n   - Проблема с продуктом + поиск решения = может быть hot lead даже при негативе\n   - B2B клиенты могут не проявлять эмоций, но иметь высокие намерения\n   - Повторное обращение всегда повышает score\n\n5. **Культурный контекст:** Прямолинейность или сдержанность могут быть культурными особенностями\n\n6. **Если данных нет:** Указывайте null, confidence: 0, reason: \"not_mentioned\"\n\n7. **ОПТИМАЛЬНЫЕ ОБЪЕМЫ ТЕКСТА:**\n   - emotionalTone.description: 80-120 слов\n   - keyMoments: 2-3 момента по 25-40 слов\n   - customerNeeds: 3-5 потребностей по 25-40 слов\n   - missedOpportunities: 3-4 возможности по 30-50 слов\n   - recommendations: 3-4 рекомендации по 40-70 слов\n   - Все reasoning в BANT: 30-50 слов\n   - Все detail в leadScoring.breakdown: 30-50 слов\n   - leadScoring.recommendation: 60-100 слов\n\n---\n\n# CONFIDENCE THRESHOLDS\n\n- **≥0.95:** Автоматическое сохранение\n- **0.85-0.94:** Сохранение с флагом проверки\n- **<0.85:** Требуется подтверждение"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        3008,
        160
      ],
      "id": "a4d147e4-6e57-488a-b882-b97bb9957d89",
      "name": "🤖 AI Agent"
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// 📊 PARSE AI RESPONSE\n// Парсинг и валидация ответа от ИИ\n// ═══════════════════════════════════════════════════════════════\n\nconst aiResponse = items[0].json.output || items[0].json.response || items[0].json;\nconst formatDialogsData = $('📊 Format Dialogs').first().json;\nconst checkData = $('🔀 Merge Check Data').first().json;\n\nlet analysis;\ntry {\n    if (typeof aiResponse === 'string') {\n        let cleanJson = aiResponse.trim();\n        \n        if (cleanJson.startsWith('```json')) cleanJson = cleanJson.substring(7);\n        else if (cleanJson.startsWith('```')) cleanJson = cleanJson.substring(3);\n        if (cleanJson.endsWith('```')) cleanJson = cleanJson.substring(0, cleanJson.length - 3);\n        cleanJson = cleanJson.trim();\n        \n        try {\n            analysis = JSON.parse(cleanJson);\n        } catch (e1) {\n            try {\n                const firstBrace = cleanJson.indexOf('{');\n                const lastBrace = cleanJson.lastIndexOf('}');\n                if (firstBrace !== -1 && lastBrace > firstBrace) {\n                    analysis = JSON.parse(cleanJson.substring(firstBrace, lastBrace + 1));\n                } else throw e1;\n            } catch (e2) {\n                let fixedJson = cleanJson;\n                if (fixedJson.startsWith('\"') && fixedJson.endsWith('\"')) fixedJson = fixedJson.slice(1, -1);\n                fixedJson = fixedJson.replace(/\\\\\\\\n/g, '\\\\n').replace(/\\\\\\\\t/g, '\\\\t');\n                const fb = fixedJson.indexOf('{');\n                const lb = fixedJson.lastIndexOf('}');\n                if (fb !== -1 && lb > fb) fixedJson = fixedJson.substring(fb, lb + 1);\n                analysis = JSON.parse(fixedJson);\n            }\n        }\n    } else if (typeof aiResponse === 'object') {\n        analysis = aiResponse;\n    } else {\n        throw new Error('Unexpected response type');\n    }\n    \n    if (!analysis.entities) {\n        analysis.entities = {\n            person: { firstName: null, lastName: null, fullName: null, confidence: 0 },\n            contacts: { phone: { value: null, confidence: 0, valid: false }, email: { value: null, confidence: 0, valid: false }, telegram: { value: null, confidence: 0 }, whatsapp: { value: null, confidence: 0 } },\n            organization: { companyName: null, position: null, confidence: 0 },\n            location: { city: null, country: null, confidence: 0 },\n            products: [], competitors: [],\n            currentSolution: { solution: null, problems: [], confidence: 0 },\n            financials: { budget: { amount: null, currency: null, confidence: 0 }, timeline: { timeline: null, deadline: null, confidence: 0 } }\n        };\n    }\n    \n    if (analysis.entities.contacts) {\n        if (analysis.entities.contacts.email?.value) {\n            analysis.entities.contacts.email.valid = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(analysis.entities.contacts.email.value);\n        }\n        if (analysis.entities.contacts.phone?.value) {\n            analysis.entities.contacts.phone.valid = /^\\+?[1-9]\\d{1,14}$/.test(analysis.entities.contacts.phone.value);\n        }\n    }\n    \n    if (!analysis.bant) {\n        analysis.bant = {\n            budget: { mentioned: false, score: 0, confidence: 0, description: \"Не упомянут\" },\n            authority: { role: \"unknown\", level: \"unknown\", score: 0, confidence: 0, description: \"Не определен\" },\n            need: { painPoints: [], severity: \"low\", score: 0, confidence: 0, description: \"Не выявлены\" },\n            timeline: { urgency: \"later\", score: 0, confidence: 0, description: \"Не указан\" },\n            totalScore: 0, qualified: false, qualificationLevel: \"cold\", reasoning: \"BANT анализ не выполнен ИИ\"\n        };\n    } else {\n        analysis.bant.totalScore = (analysis.bant.budget?.score || 0) + (analysis.bant.authority?.score || 0) + (analysis.bant.need?.score || 0) + (analysis.bant.timeline?.score || 0);\n        const bantCount = [analysis.bant.budget?.score > 0, analysis.bant.authority?.score > 0, analysis.bant.need?.score > 0, analysis.bant.timeline?.score > 0].filter(Boolean).length;\n        if (analysis.bant.totalScore >= 50 && bantCount >= 3) { analysis.bant.qualified = true; analysis.bant.qualificationLevel = \"SQL\"; }\n        else if (analysis.bant.totalScore >= 30 && bantCount >= 2) { analysis.bant.qualified = true; analysis.bant.qualificationLevel = \"MQL\"; }\n        else { analysis.bant.qualified = false; analysis.bant.qualificationLevel = \"cold\"; }\n    }\n    \n    if (!analysis.leadScoring) {\n        const satisfaction = analysis.emotionalTone?.satisfaction || 0;\n        const baseScore = Math.round(satisfaction * 0.5);\n        analysis.leadScoring = {\n            score: baseScore, temperature: baseScore >= 80 ? \"hot\" : baseScore >= 50 ? \"warm\" : \"cold\",\n            factors: { satisfaction: 0, contacts: 0, engagement: 0, intentions: 0, urgency: 0 },\n            breakdown: { satisfaction_detail: \"Не выполнен\", contacts_detail: \"Не выполнен\", engagement_detail: \"Не выполнен\", intentions_detail: \"Не выполнен\", urgency_detail: \"Не выполнен\" },\n            recommendation: \"Lead Scoring не был выполнен ИИ.\"\n        };\n    } else {\n        analysis.leadScoring.score = (analysis.leadScoring.factors?.satisfaction || 0) + (analysis.leadScoring.factors?.contacts || 0) + (analysis.leadScoring.factors?.engagement || 0) + (analysis.leadScoring.factors?.intentions || 0) + (analysis.leadScoring.factors?.urgency || 0);\n        analysis.leadScoring.temperature = analysis.leadScoring.score >= 80 ? \"hot\" : analysis.leadScoring.score >= 50 ? \"warm\" : \"cold\";\n    }\n    \n    if (!analysis.emotionalTone) analysis.emotionalTone = { overall: \"neutral\", overallText: \"Не определен\", satisfaction: 0, description: \"Анализ не выполнен\", keyMoments: [] };\n    analysis.customerNeeds = analysis.customerNeeds || [];\n    analysis.missedOpportunities = analysis.missedOpportunities || [];\n    analysis.recommendations = analysis.recommendations || [];\n    if (!analysis.statistics) analysis.statistics = { totalDialogs: formatDialogsData?.totalDialogs || 1, totalMessages: 0, avgSatisfaction: analysis.emotionalTone?.satisfaction || 0, resolvedPercentage: 0, avgEngagement: 0 };\n    \n    analysis._cached = false;\n    analysis._newMessagesCount = checkData?.new_messages_count || 0;\n    analysis._lastAnalysisDate = checkData?.last_analysis_date || null;\n    \n} catch (error) {\n    analysis = {\n        entities: { person: { firstName: null, lastName: null, fullName: null, confidence: 0 }, contacts: { phone: { value: null, confidence: 0, valid: false }, email: { value: null, confidence: 0, valid: false }, telegram: { value: null, confidence: 0 }, whatsapp: { value: null, confidence: 0 } }, organization: { companyName: null, position: null, confidence: 0 }, location: { city: null, country: null, confidence: 0 }, products: [], competitors: [], currentSolution: { solution: null, problems: [], confidence: 0 }, financials: { budget: { amount: null, currency: null, confidence: 0 }, timeline: { timeline: null, deadline: null, confidence: 0 } } },\n        bant: { budget: { mentioned: false, score: 0, confidence: 0, description: \"Ошибка\" }, authority: { role: \"unknown\", level: \"unknown\", score: 0, confidence: 0, description: \"Ошибка\" }, need: { painPoints: [], severity: \"low\", score: 0, confidence: 0, description: \"Ошибка\" }, timeline: { urgency: \"later\", score: 0, confidence: 0, description: \"Ошибка\" }, totalScore: 0, qualified: false, qualificationLevel: \"cold\", reasoning: \"Ошибка парсинга\" },\n        emotionalTone: { overall: \"neutral\", overallText: \"Ошибка\", satisfaction: 0, description: \"Ошибка парсинга\" },\n        customerNeeds: [\"Ошибка\"], missedOpportunities: [\"Ошибка\"], recommendations: [\"Повторите анализ\"],\n        statistics: { totalDialogs: formatDialogsData?.totalDialogs || 0, totalMessages: 0, avgSatisfaction: 0, resolvedPercentage: 0, avgEngagement: 0 },\n        leadScoring: { score: 0, temperature: \"cold\", factors: { satisfaction: 0, contacts: 0, engagement: 0, intentions: 0, urgency: 0 }, breakdown: { satisfaction_detail: \"Ошибка\", contacts_detail: \"Ошибка\", engagement_detail: \"Ошибка\", intentions_detail: \"Ошибка\", urgency_detail: \"Ошибка\" }, recommendation: \"Ошибка\" },\n        _cached: false, _newMessagesCount: checkData?.new_messages_count || 0\n    };\n}\n\nreturn [{json: analysis}];"
      },
      "id": "398cd0a8-3a86-4753-b71c-13379bc09d31",
      "name": "📊 Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3392,
        160
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "71207c87-2fe8-4a0b-bc67-f676faa207f8",
      "name": "✅ Send Analysis",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3632,
        80
      ]
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        3184,
        352
      ],
      "id": "27042b2f-7fe4-46ac-8fc7-20b8a575977c",
      "name": "🧠 Think"
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// 💾 PREPARE DB DATA\n// Подготовка данных для записи в базу данных\n// ═══════════════════════════════════════════════════════════════\n\nconst analysis = items[0].json;\nconst requestData = $('📝 Process Request').first().json;\n\nlet platform = 'webchat';\ntry {\n  platform = requestData.platform || 'webchat';\n} catch (e) {\n  // Platform not found, using default\n}\n\nconst satisfactionPercentage = analysis.emotionalTone?.satisfaction || 0;\n\nreturn [{\n  json: {\n    session_id: requestData.sessionId,\n    user_name: requestData.userName || 'Guest',\n    analysis_type: requestData.type,\n    language: requestData.language || 'ru',\n    platform: platform,\n    \n    extracted_entities: analysis.entities || {},\n    bant_qualification: analysis.bant || {},\n    emotional_tone: analysis.emotionalTone || {},\n    lead_scoring: analysis.leadScoring || {},\n    statistics: analysis.statistics || {},\n    \n    customer_needs: analysis.customerNeeds || [],\n    missed_opportunities: analysis.missedOpportunities || [],\n    recommendations: analysis.recommendations || [],\n    \n    satisfaction_percentage: satisfactionPercentage\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3632,
        304
      ],
      "id": "60839df9-2cd4-42b6-b009-cd3fa6488659",
      "name": "💾 Prepare DB Data"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- ═══════════════════════════════════════════════════════════════\n-- 💾 Сохранение результатов анализа в БД\n-- Таблица: {{ $('⚙️ CONFIG').first().json.table_dialog_analysis }}\n-- ═══════════════════════════════════════════════════════════════\n\nINSERT INTO {{ $('⚙️ CONFIG').first().json.table_dialog_analysis }} (\n    session_id, \n    user_name, \n    analysis_type, \n    language, \n    platform,\n    extracted_entities,\n    bant_qualification,\n    emotional_tone, \n    lead_scoring,\n    statistics,\n    customer_needs, \n    missed_opportunities, \n    recommendations,\n    satisfaction_percentage,\n    created_at\n) VALUES (\n    '{{ $json.session_id }}', \n    '{{ $json.user_name }}', \n    '{{ $json.analysis_type }}',\n    '{{ $json.language }}', \n    '{{ $json.platform }}',\n    '{{ JSON.stringify($json.extracted_entities).replace(/'/g, \"''\") }}'::jsonb,\n    '{{ JSON.stringify($json.bant_qualification).replace(/'/g, \"''\") }}'::jsonb,\n    '{{ JSON.stringify($json.emotional_tone).replace(/'/g, \"''\") }}'::jsonb,\n    '{{ JSON.stringify($json.lead_scoring).replace(/'/g, \"''\") }}'::jsonb,\n    '{{ JSON.stringify($json.statistics).replace(/'/g, \"''\") }}'::jsonb,\n    ARRAY[{{ $json.customer_needs.map(item => `'${String(item).replace(/'/g, \"''\")}'`).join(\", \") }}]::text[],\n    ARRAY[{{ $json.missed_opportunities.map(item => `'${String(item).replace(/'/g, \"''\")}'`).join(\", \") }}]::text[],\n    ARRAY[{{ $json.recommendations.map(item => `'${String(item).replace(/'/g, \"''\")}'`).join(\", \") }}]::text[],\n    {{ $json.satisfaction_percentage || 0 }},\n    CURRENT_TIMESTAMP\n)\nON CONFLICT (session_id, analysis_type) \nDO UPDATE SET\n    user_name = EXCLUDED.user_name,\n    language = EXCLUDED.language,\n    platform = EXCLUDED.platform,\n    extracted_entities = EXCLUDED.extracted_entities,\n    bant_qualification = EXCLUDED.bant_qualification,\n    emotional_tone = EXCLUDED.emotional_tone,\n    lead_scoring = EXCLUDED.lead_scoring,\n    statistics = EXCLUDED.statistics,\n    customer_needs = EXCLUDED.customer_needs,\n    missed_opportunities = EXCLUDED.missed_opportunities,\n    recommendations = EXCLUDED.recommendations,\n    satisfaction_percentage = EXCLUDED.satisfaction_percentage,\n    created_at = CURRENT_TIMESTAMP\nRETURNING *;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3840,
        304
      ],
      "id": "45f749a5-5e63-4f68-886f-d39a176ed781",
      "name": "🐘 Save to Database",
      "credentials": {
        "postgres": {
          "id": "dPjh4Kdb4nIbCTQG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2864,
        368
      ],
      "id": "23094539-e9de-45e1-aeee-1f209448b5c4",
      "name": "🧠 Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "abo0BDHSJPM0pgRU",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "🌐 Webhook: Analyze Dialog": {
      "main": [
        [
          {
            "node": "⚙️ CONFIG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ CONFIG": {
      "main": [
        [
          {
            "node": "🔐 Security Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔐 Security Check": {
      "main": [
        [
          {
            "node": "❓ Auth OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❓ Auth OK?": {
      "main": [
        [
          {
            "node": "📝 Process Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "❌ Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Process Request": {
      "main": [
        [
          {
            "node": "🌐 Get Analysis Language",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🌐 Get Analysis Language": {
      "main": [
        [
          {
            "node": "🔀 Merge with Language",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Merge with Language": {
      "main": [
        [
          {
            "node": "🔍 Check for New Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Check for New Messages": {
      "main": [
        [
          {
            "node": "🔀 Merge Check Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Merge Check Data": {
      "main": [
        [
          {
            "node": "❓ Has New Messages?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❓ Has New Messages?": {
      "main": [
        [
          {
            "node": "❓ Type = Single?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📋 Get Existing Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Get Existing Analysis": {
      "main": [
        [
          {
            "node": "📊 Format Existing Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Format Existing Analysis": {
      "main": [
        [
          {
            "node": "✅ Return Cached Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❓ Type = Single?": {
      "main": [
        [
          {
            "node": "💬 Get Single Dialog",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "💬 Get All/Language Dialogs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💬 Get Single Dialog": {
      "main": [
        [
          {
            "node": "📊 Format Dialogs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💬 Get All/Language Dialogs": {
      "main": [
        [
          {
            "node": "📊 Format Dialogs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Format Dialogs": {
      "main": [
        [
          {
            "node": "🤖 AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🤖 AI Agent": {
      "main": [
        [
          {
            "node": "📊 Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Parse AI Response": {
      "main": [
        [
          {
            "node": "✅ Send Analysis",
            "type": "main",
            "index": 0
          },
          {
            "node": "💾 Prepare DB Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧠 Think": {
      "ai_tool": [
        [
          {
            "node": "🤖 AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "💾 Prepare DB Data": {
      "main": [
        [
          {
            "node": "🐘 Save to Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧠 Google Gemini": {
      "ai_languageModel": [
        [
          {
            "node": "🤖 AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ff696aca-3323-479c-9993-443e8f7beb71",
  "meta": {
    "instanceId": "9a2a948e1b1119e76dce477f4f08641c41898f344f4216cb90098437b1dcaf00"
  },
  "id": "rEgjPgDqCfawfH4s",
  "tags": []
}