PRODUCTION/📧 Email Monitoring [Production RU].json
{
  "name": "📧 Email Monitoring [Production RU]",
  "nodes": [
    {
      "parameters": {
        "content": "# 📧 EMAIL МОНИТОРИНГ\n\n\n\n## ⚙️ НАСТРОЙКА\n\n\n\n### 1️⃣ Настройте узлы CONFIG\n\nВ этом workflow 3 цепочки, каждая имеет свой CONFIG узел.\n\nОткройте и настройте параметры в каждом:\n\n\n\n**🔑 Авторизация:**\n\n• `api_key` — Ваш API ключ\n\n• `rate_limit_window_ms` — Окно лимита (мс)\n\n• `rate_limit_max` — Лимит запросов/мин\n\n\n\n**🗄️ Таблицы базы данных:**\n\n• `table_email_monitoring` — Мониторинг email\n\n• `table_email_dialog_analysis` — Анализ диалогов\n\n• `table_gmail_conversations` — Переписки Gmail\n\n\n\n---\n\n\n\n### 2️⃣ Подключите Credentials\n\n\n\n**PostgreSQL** → все узлы с иконкой 🐘\n\n\n\n---\n\n\n\n### 3️⃣ API Endpoints\n\n\n\n| Метод | Endpoint | Описание |\n|:-----:|----------|----------|\n| POST | `/email-monitoring` | Сохранение данных мониторинга |\n| GET | `/email-monitoring-data` | Получение данных для дашборда |\n| GET | `/email-dialogs` | Получение переписки по email |\n\n\n\n---\n\n\n\n### 4️⃣ Авторизация запросов\n\n\n\nПередайте API ключ одним из способов:\n\n• Header: `x-api-key: ВАШ_КЛЮЧ`\n\n• Query: `?apiKey=ВАШ_КЛЮЧ`\n\n• Body: `{\"apiKey\": \"ВАШ_КЛЮЧ\"}`\n\n\n\n---\n\n\n\n### 5️⃣ Возможности\n\n\n\n• 📥 Сохранение email активности\n\n• 📊 Форматирование данных для дашборда\n\n• 💬 Получение истории переписки\n\n• 🔥 Lead Score и статусы\n\n• ⏰ Отслеживание активности\n\n\n\n---\n\n\n\n### 6️⃣ Активация\n\n\n\nНажмите **Active** ↗️ в правом верхнем углу",
        "height": 1380,
        "width": 420,
        "color": 6
      },
      "id": "sticky-instructions-ru",
      "name": "📋 ИНСТРУКЦИЯ",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1100,
        -500
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "email-monitoring",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*",
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -736,
        -368
      ],
      "id": "9066a0cf-c33f-4c9b-8485-38264e4a5fa9",
      "name": "🌐 Webhook: Save Monitoring",
      "webhookId": "email-monitoring-webhook-id"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"api_key\": \"24fs-$r4d-defd-77ds-7eds\",\n  \"rate_limit_window_ms\": 60000,\n  \"rate_limit_max\": 60,\n  \"table_email_monitoring\": \"email_monitoring\"\n}",
        "options": {}
      },
      "id": "config-save-monitoring",
      "name": "⚙️ CONFIG (Save)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -544,
        -368
      ]
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// 📝 ОБРАБОТКА ДАННЫХ EMAIL\n// Получение входных данных для email мониторинга\n// ═══════════════════════════════════════════════════════════════\n\nconst webhook = $('🌐 Webhook: Save Monitoring').item.json;\nconst inputData = webhook.body || webhook;\n\n// Генерируем временные метки\nconst currentTime = new Date();\nconst currentTimeISO = currentTime.toISOString();\n\n// Создаем объект для БД\nconst monitoringData = {\n    // Основные идентификаторы для email\n    recordId: `email_${inputData.email}_${Date.now()}`,\n    recordTimestamp: currentTimeISO,\n    email: inputData.email,\n    thread_id: inputData.threadId,\n    user_name: inputData.userName || inputData.senderName,\n    \n    // Временные метки\n    timestamp: currentTimeISO,\n    first_contact_time: inputData.firstContactTime || currentTimeISO,\n    last_activity_time: currentTimeISO,\n    \n    // Данные о событии\n    event_type: inputData.eventType || 'email_activity',\n    message_count: inputData.messageCount || 0,\n    \n    // Данные о клиенте\n    subject: inputData.subject || '',\n    language: inputData.language || 'ru',\n    lead_score: inputData.leadScore || 0,\n    intent: inputData.intent || 'information',\n    urgency: inputData.urgency || 'medium',\n    \n    // Статус переписки\n    status: inputData.status || 'active',\n    last_reply_from: inputData.lastReplyFrom || 'client',\n    follow_up_date: inputData.followUpDate || null\n};\n\nreturn [{json: monitoringData}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -336,
        -368
      ],
      "id": "c5065276-0e4b-42b1-9744-2abebda53731",
      "name": "📝 Обработка данных Email"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- ═══════════════════════════════════════════════════════════════\n-- 💾 Сохраняем данные email мониторинга\n-- Таблица: {{ $('⚙️ CONFIG (Save)').item.json.table_email_monitoring }}\n-- ═══════════════════════════════════════════════════════════════\n\nINSERT INTO {{ $('⚙️ CONFIG (Save)').item.json.table_email_monitoring }} (\n    record_id, \n    record_timestamp, \n    email, \n    thread_id, \n    user_name,\n    timestamp, \n    first_contact_time, \n    last_activity_time,\n    event_type, \n    message_count, \n    subject, \n    language,\n    lead_score, \n    intent, \n    urgency, \n    status, \n    last_reply_from, \n    follow_up_date\n)\nVALUES (\n    '{{ $json.recordId }}',\n    '{{ $json.recordTimestamp }}',\n    '{{ $json.email }}',\n    '{{ $json.thread_id }}',\n    '{{ $json.user_name }}',\n    '{{ $json.timestamp }}',\n    '{{ $json.first_contact_time }}',\n    '{{ $json.last_activity_time }}',\n    '{{ $json.event_type }}',\n    {{ $json.message_count }},\n    '{{ $json.subject.replace(/'/g, \"''\") }}',\n    '{{ $json.language }}',\n    {{ $json.lead_score }},\n    '{{ $json.intent }}',\n    '{{ $json.urgency }}',\n    '{{ $json.status }}',\n    '{{ $json.last_reply_from }}',\n    {{ $json.follow_up_date ? \"'\" + $json.follow_up_date + \"'\" : 'NULL' }}\n)\nON CONFLICT (email) \nDO UPDATE SET\n    thread_id = EXCLUDED.thread_id,\n    user_name = EXCLUDED.user_name,\n    last_activity_time = EXCLUDED.last_activity_time,\n    message_count = EXCLUDED.message_count,\n    subject = EXCLUDED.subject,\n    language = EXCLUDED.language,\n    lead_score = GREATEST({{ $('⚙️ CONFIG (Save)').item.json.table_email_monitoring }}.lead_score, EXCLUDED.lead_score),\n    intent = EXCLUDED.intent,\n    urgency = EXCLUDED.urgency,\n    status = EXCLUDED.status,\n    last_reply_from = EXCLUDED.last_reply_from,\n    follow_up_date = EXCLUDED.follow_up_date,\n    updated_at = NOW()\nRETURNING *;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -128,
        -368
      ],
      "id": "087faa8f-ca79-4ff0-a3c7-e3a52e3f38bf",
      "name": "🐘 Сохранение мониторинга",
      "credentials": {
        "postgres": {
          "id": "dPjh4Kdb4nIbCTQG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"success\",\n  \"message\": \"Email monitoring data saved\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        80,
        -368
      ],
      "id": "150ea984-d748-4c41-bfc3-db12d86dacbe",
      "name": "✅ Успешный ответ"
    },
    {
      "parameters": {
        "path": "email-monitoring-data",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -736,
        -96
      ],
      "id": "9c12dfb7-fa69-496f-9f39-09a10389e2e5",
      "name": "🌐 Webhook: Get Monitoring Data",
      "webhookId": "get-email-monitoring-webhook"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"api_key\": \"24fs-$r4d-defd-77ds-7eds\",\n  \"rate_limit_window_ms\": 60000,\n  \"rate_limit_max\": 60,\n  \"table_email_monitoring\": \"email_monitoring\",\n  \"table_email_dialog_analysis\": \"email_dialog_analysis\"\n}",
        "options": {}
      },
      "id": "config-get-monitoring",
      "name": "⚙️ CONFIG (Monitoring)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -544,
        -96
      ]
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// 🔐 SECURITY CHECK: API KEY + RATE LIMITING\n// Настройки берутся из узла CONFIG\n// ═══════════════════════════════════════════════════════════════\n\nconst config = $('⚙️ CONFIG (Monitoring)').item.json;\nconst API_KEY = config.api_key;\nconst RATE_LIMIT_WINDOW_MS = config.rate_limit_window_ms;\nconst RATE_LIMIT_MAX_REQUESTS = config.rate_limit_max;\n\nconst inputData = $('🌐 Webhook: Get Monitoring Data').item.json;\nconst body = inputData.body || {};\nconst headers = inputData.headers || {};\nconst query = inputData.query || {};\nconst clientIP = headers['x-real-ip'] || headers['x-forwarded-for'] || headers['cf-connecting-ip'] || 'unknown';\nconst now = Date.now();\n\n// RATE LIMITING\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.rateLimits) { staticData.rateLimits = {}; }\nfor (const ip in staticData.rateLimits) {\n  if (now - staticData.rateLimits[ip].firstRequest > RATE_LIMIT_WINDOW_MS) {\n    delete staticData.rateLimits[ip];\n  }\n}\nif (!staticData.rateLimits[clientIP]) {\n  staticData.rateLimits[clientIP] = { count: 1, firstRequest: now };\n} else {\n  staticData.rateLimits[clientIP].count++;\n  if (staticData.rateLimits[clientIP].count > RATE_LIMIT_MAX_REQUESTS) {\n    return [{ json: { ...inputData, authorized: false, error: { success: false, error: 'Too many requests', details: `Limit: ${RATE_LIMIT_MAX_REQUESTS} requests per minute`, status: 429, retryAfter: Math.ceil((staticData.rateLimits[clientIP].firstRequest + RATE_LIMIT_WINDOW_MS - now) / 1000) } } }];\n  }\n}\n\n// API KEY CHECK\nconst providedKey = headers['x-api-key'] || body.apiKey || query.apiKey || '';\nif (!providedKey) {\n  return [{ json: { ...inputData, authorized: false, error: { success: false, error: 'API key not provided', status: 401 } } }];\n}\nif (providedKey !== API_KEY) {\n  return [{ json: { ...inputData, authorized: false, error: { success: false, error: 'Invalid API key', status: 401 } } }];\n}\n\nreturn [{ json: { ...inputData, authorized: true } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -336,
        -96
      ],
      "id": "dec057b9-fac0-4cb0-b0e3-3a05d90b8dba",
      "name": "🔐 Security Check (Monitoring)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "auth-condition",
              "leftValue": "={{ $json.authorized }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -128,
        -96
      ],
      "id": "c8331e7b-d2cc-4acd-bdbb-fd3e5bdb471c",
      "name": "❓ Auth OK? (Monitoring)"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.error }}",
        "options": {
          "responseCode": "={{ $json.error.status }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        80,
        32
      ],
      "id": "c197d549-75f1-4d34-a36b-0e3a552197df",
      "name": "❌ Ошибка авторизации (Monitoring)"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- ═══════════════════════════════════════════════════════════════\n-- 📊 Получаем данные email мониторинга для дашборда\n-- Таблицы: {{ $('⚙️ CONFIG (Monitoring)').item.json.table_email_monitoring }},\n--          {{ $('⚙️ CONFIG (Monitoring)').item.json.table_email_dialog_analysis }}\n-- ═══════════════════════════════════════════════════════════════\n\nWITH email_stats AS (\n    SELECT \n        em.email,\n        em.user_name,\n        MIN(em.first_contact_time) as first_contact,\n        MAX(em.last_activity_time) as last_activity,\n        MAX(em.message_count) as messages,\n        -- Получаем lead_score из таблицы анализа\n        COALESCE(\n            (SELECT (lead_scoring->>'score')::integer \n             FROM {{ $('⚙️ CONFIG (Monitoring)').item.json.table_email_dialog_analysis }} eda\n             WHERE eda.email = em.email \n             ORDER BY eda.created_at DESC \n             LIMIT 1), \n            0\n        ) as lead_score,\n        -- ДОБАВЛЯЕМ satisfaction_percentage\n        COALESCE(\n            (SELECT satisfaction_percentage\n             FROM {{ $('⚙️ CONFIG (Monitoring)').item.json.table_email_dialog_analysis }} eda\n             WHERE eda.email = em.email \n             ORDER BY eda.created_at DESC \n             LIMIT 1), \n            0\n        ) as satisfaction_percentage,\n        -- Также получаем температуру лида\n        COALESCE(\n            (SELECT lead_scoring->>'temperature'\n             FROM {{ $('⚙️ CONFIG (Monitoring)').item.json.table_email_dialog_analysis }} eda\n             WHERE eda.email = em.email \n             ORDER BY eda.created_at DESC \n             LIMIT 1), \n            'cold'\n        ) as lead_temperature,\n        FIRST_VALUE(em.subject) OVER (PARTITION BY em.email ORDER BY em.timestamp DESC) as subject,\n        FIRST_VALUE(em.language) OVER (PARTITION BY em.email ORDER BY em.timestamp DESC) as language,\n        FIRST_VALUE(em.intent) OVER (PARTITION BY em.email ORDER BY em.timestamp DESC) as intent,\n        FIRST_VALUE(em.urgency) OVER (PARTITION BY em.email ORDER BY em.timestamp DESC) as urgency,\n        FIRST_VALUE(em.status) OVER (PARTITION BY em.email ORDER BY em.timestamp DESC) as status,\n        FIRST_VALUE(em.thread_id) OVER (PARTITION BY em.email ORDER BY em.timestamp DESC) as thread_id\n    FROM {{ $('⚙️ CONFIG (Monitoring)').item.json.table_email_monitoring }} em\n    WHERE em.last_activity_time >= NOW() - INTERVAL '30 days'\n        AND em.email IS NOT NULL \n        AND em.email != ''\n    GROUP BY em.email, em.user_name, em.timestamp, em.subject, \n             em.language, em.intent, em.urgency, em.status, em.thread_id\n)\nSELECT DISTINCT ON (email) \n    *,\n    CASE \n        WHEN last_activity > NOW() - INTERVAL '24 hours' THEN 'active'\n        WHEN last_activity > NOW() - INTERVAL '7 days' THEN 'pending'\n        ELSE 'inactive'\n    END as activity_status\nFROM email_stats\nORDER BY email, last_activity DESC;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        80,
        -160
      ],
      "id": "10ed660f-869c-464f-81c2-b2e69f0271ae",
      "name": "🐘 Получение данных Email",
      "credentials": {
        "postgres": {
          "id": "dPjh4Kdb4nIbCTQG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// 📊 ФОРМАТИРОВАНИЕ ДАННЫХ ДЛЯ ДАШБОРДА\n// Форматируем данные с правильными статусами для email\n// ═══════════════════════════════════════════════════════════════\n\n// Функция определения статуса email переписки\nfunction getEmailConversationStatus(data) {\n  // Проверяем базовые статусы из БД\n  const dbStatus = data.status;\n  const messageCount = parseInt(data.messages) || parseInt(data.message_count) || 0;\n  \n  // Определяем активность по времени\n  const lastActivityDate = new Date(data.last_activity);\n  const daysSinceActivity = (Date.now() - lastActivityDate) / (1000 * 60 * 60 * 24);\n  \n  // Логика определения статуса\n  if (dbStatus === 'unread') {\n    return {\n      status: 'unread',\n      statusText: 'Непрочитанное',\n      statusIcon: '🔵',\n      statusColor: '#3b82f6',\n      daysSince: daysSinceActivity\n    };\n  }\n  \n  if (messageCount === 0) {\n    return {\n      status: 'new',\n      statusText: 'Новое',\n      statusIcon: '📥',\n      statusColor: '#22c55e',\n      daysSince: daysSinceActivity\n    };\n  }\n  \n  if (messageCount === 1) {\n    return {\n      status: 'awaiting_reply',\n      statusText: 'Ожидает ответа',\n      statusIcon: '⏳',\n      statusColor: '#f59e0b',\n      daysSince: daysSinceActivity\n    };\n  }\n  \n  if (messageCount > 3) {\n    if (daysSinceActivity > 7) {\n      return {\n        status: 'inactive',\n        statusText: 'Неактивная',\n        statusIcon: '💤',\n        statusColor: '#6b7280',\n        daysSince: daysSinceActivity\n      };\n    }\n    return {\n      status: 'conversation',\n      statusText: 'Переписка',\n      statusIcon: '💬',\n      statusColor: '#8b5cf6',\n      daysSince: daysSinceActivity\n    };\n  }\n  \n  if (daysSinceActivity < 1) {\n    return {\n      status: 'active',\n      statusText: 'Активная',\n      statusIcon: '📧',\n      statusColor: '#059669',\n      daysSince: daysSinceActivity\n    };\n  }\n  \n  if (daysSinceActivity > 3) {\n    return {\n      status: 'pending',\n      statusText: 'В ожидании',\n      statusIcon: '⏸️',\n      statusColor: '#f59e0b',\n      daysSince: daysSinceActivity\n    };\n  }\n  \n  return {\n    status: 'active',\n    statusText: 'Активная',\n    statusIcon: '📧',\n    statusColor: '#059669',\n    daysSince: daysSinceActivity\n  };\n}\n\n// Функция определения приоритета на основе Lead Score и urgency\nfunction getEmailPriority(leadScore, urgency) {\n  const score = parseInt(leadScore) || 0;\n  \n  if (score >= 80 || urgency === 'high') {\n    return {\n      priority: 'high',\n      priorityText: 'Высокий',\n      priorityIcon: '🔥',\n      priorityColor: '#dc2626'\n    };\n  }\n  \n  if (score >= 50 || urgency === 'medium') {\n    return {\n      priority: 'medium',\n      priorityText: 'Средний',\n      priorityIcon: '⚡',\n      priorityColor: '#f59e0b'\n    };\n  }\n  \n  return {\n    priority: 'low',\n    priorityText: 'Низкий',\n    priorityIcon: '❄️',\n    priorityColor: '#3b82f6'\n  };\n}\n\n// Основная логика форматирования\nconst formattedData = items.map(item => {\n    const data = item.json;\n    \n    // Получаем статус переписки (теперь со свойством daysSince)\n    const conversationStatus = getEmailConversationStatus(data);\n    \n    // Получаем приоритет\n    const priority = getEmailPriority(data.lead_score, data.urgency);\n    \n    // Определяем температуру лида\n    const leadScore = parseInt(data.lead_score) || 0;\n    const leadTemperature = leadScore >= 80 ? 'hot' : \n                           leadScore >= 50 ? 'warm' : 'cold';\n    \n    // Используем daysSince из conversationStatus\n    const daysSinceActivity = conversationStatus.daysSince || 0;\n    \n    return {\n        // Основные данные\n        email: data.email,\n        threadId: data.thread_id,\n        userName: data.user_name || 'Unknown',\n        subject: data.subject || 'No subject',\n        \n        // Временные метки\n        firstContact: data.first_contact,\n        lastActivity: data.last_activity,\n        \n        // Метрики\n        messageCount: parseInt(data.messages) || parseInt(data.message_count) || 0,\n        leadScore: leadScore,\n        satisfactionPercentage: parseInt(data.satisfaction_percentage) || 0,\n        \n        // Статус переписки (основной)\n        conversationStatus: conversationStatus.status,\n        conversationStatusText: conversationStatus.statusText,\n        conversationStatusIcon: conversationStatus.statusIcon,\n        conversationStatusColor: conversationStatus.statusColor,\n        \n        // Приоритет\n        priority: priority.priority,\n        priorityText: priority.priorityText,\n        priorityIcon: priority.priorityIcon,\n        priorityColor: priority.priorityColor,\n        \n        // Дополнительная информация\n        language: data.language || 'ru',\n        intent: data.intent || 'information',\n        urgency: data.urgency || 'medium',\n        leadTemperature: leadTemperature,\n        \n        // Для обратной совместимости\n        status: conversationStatus.status,\n        activityStatus: data.activity_status || conversationStatus.status,\n        followUpDate: data.follow_up_date,\n        \n        // Флаги для дашборда\n        needsAttention: conversationStatus.status === 'awaiting_reply' || \n                        priority.priority === 'high',\n        isHotLead: leadTemperature === 'hot',\n        isInactive: daysSinceActivity > 7\n    };\n});\n\nreturn [{\n    json: {\n        data: formattedData,\n        totalCount: formattedData.length,\n        timestamp: new Date().toISOString()\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        -160
      ],
      "id": "5aa08342-1d76-4502-be27-09725a156922",
      "name": "📊 Форматирование данных"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        496,
        -160
      ],
      "id": "63f7ae3a-2374-4ca1-bcf3-96e352a79c10",
      "name": "✅ Отправка данных"
    },
    {
      "parameters": {
        "path": "email-dialogs",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -720,
        208
      ],
      "id": "16a98d5a-723a-4a4d-a3a8-95118b55aa68",
      "name": "🌐 Webhook: Get Email Dialog",
      "webhookId": "get-email-dialog-webhook"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"api_key\": \"24fs-$r4d-defd-77ds-7eds\",\n  \"rate_limit_window_ms\": 60000,\n  \"rate_limit_max\": 60,\n  \"table_gmail_conversations\": \"gmail_conversations\"\n}",
        "options": {}
      },
      "id": "config-get-dialog",
      "name": "⚙️ CONFIG (Dialog)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -512,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// 🔐 SECURITY CHECK: API KEY + RATE LIMITING\n// Настройки берутся из узла CONFIG\n// ═══════════════════════════════════════════════════════════════\n\nconst config = $('⚙️ CONFIG (Dialog)').item.json;\nconst API_KEY = config.api_key;\nconst RATE_LIMIT_WINDOW_MS = config.rate_limit_window_ms;\nconst RATE_LIMIT_MAX_REQUESTS = config.rate_limit_max;\n\nconst inputData = $('🌐 Webhook: Get Email Dialog').item.json;\nconst body = inputData.body || {};\nconst headers = inputData.headers || {};\nconst query = inputData.query || {};\nconst clientIP = headers['x-real-ip'] || headers['x-forwarded-for'] || headers['cf-connecting-ip'] || 'unknown';\nconst now = Date.now();\n\n// RATE LIMITING\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.rateLimits) { staticData.rateLimits = {}; }\nfor (const ip in staticData.rateLimits) {\n  if (now - staticData.rateLimits[ip].firstRequest > RATE_LIMIT_WINDOW_MS) {\n    delete staticData.rateLimits[ip];\n  }\n}\nif (!staticData.rateLimits[clientIP]) {\n  staticData.rateLimits[clientIP] = { count: 1, firstRequest: now };\n} else {\n  staticData.rateLimits[clientIP].count++;\n  if (staticData.rateLimits[clientIP].count > RATE_LIMIT_MAX_REQUESTS) {\n    return [{ json: { ...inputData, authorized: false, error: { success: false, error: 'Too many requests', details: `Limit: ${RATE_LIMIT_MAX_REQUESTS} requests per minute`, status: 429, retryAfter: Math.ceil((staticData.rateLimits[clientIP].firstRequest + RATE_LIMIT_WINDOW_MS - now) / 1000) } } }];\n  }\n}\n\n// API KEY CHECK\nconst providedKey = headers['x-api-key'] || body.apiKey || query.apiKey || '';\nif (!providedKey) {\n  return [{ json: { ...inputData, authorized: false, error: { success: false, error: 'API key not provided', status: 401 } } }];\n}\nif (providedKey !== API_KEY) {\n  return [{ json: { ...inputData, authorized: false, error: { success: false, error: 'Invalid API key', status: 401 } } }];\n}\n\nreturn [{ json: { ...inputData, authorized: true } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -304,
        208
      ],
      "id": "196229fe-e8d5-4566-a558-2a15f35e4259",
      "name": "🔐 Security Check (Dialog)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "auth-condition",
              "leftValue": "={{ $json.authorized }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -96,
        208
      ],
      "id": "48e6ff5d-1d38-4b13-8f72-f96a26f72257",
      "name": "❓ Auth OK? (Dialog)"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.error }}",
        "options": {
          "responseCode": "={{ $json.error.status }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        112,
        336
      ],
      "id": "285e6c11-8e53-42f1-a1c1-4e1c34aa3756",
      "name": "❌ Ошибка авторизации (Dialog)"
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// 📝 ОБРАБОТКА ЗАПРОСА ДИАЛОГА\n// Получаем email из query параметров\n// ═══════════════════════════════════════════════════════════════\n\nconst webhookData = $('🌐 Webhook: Get Email Dialog').item.json;\nconst email = webhookData.query?.email;\nconst threadId = webhookData.query?.thread_id;\n\nif (!email && !threadId) {\n    throw new Error('email or thread_id parameter is required');\n}\n\nreturn [{\n    json: {\n        email: email,\n        thread_id: threadId\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        144
      ],
      "id": "07f8e81f-7456-42e3-8801-5a8897784eef",
      "name": "📝 Обработка запроса диалога"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- ═══════════════════════════════════════════════════════════════\n-- 💬 Получаем переписку из gmail_conversations\n-- Таблица: {{ $('⚙️ CONFIG (Dialog)').item.json.table_gmail_conversations }}\n-- ═══════════════════════════════════════════════════════════════\n\nSELECT \n    email,\n    thread_id,\n    subject,\n    messages,\n    status,\n    lead_score,\n    language,\n    message_count,\n    created_at,\n    updated_at\nFROM {{ $('⚙️ CONFIG (Dialog)').item.json.table_gmail_conversations }}\nWHERE \n    {{ $json.email ? \"email = '\" + $json.email + \"'\" : \"1=1\" }}\n    {{ $json.thread_id ? \"AND thread_id = '\" + $json.thread_id + \"'\" : \"\" }}\nORDER BY updated_at DESC\nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        320,
        144
      ],
      "id": "768cb3d3-e7d1-4f10-a8b0-650a8066b7dc",
      "name": "🐘 Получение Gmail переписки",
      "credentials": {
        "postgres": {
          "id": "dPjh4Kdb4nIbCTQG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// 📧 ФОРМАТИРОВАНИЕ EMAIL ДИАЛОГА\n// Форматируем диалоги для дашборда\n// ═══════════════════════════════════════════════════════════════\n\n// Проверяем, есть ли данные\nif (!items || items.length === 0 || !items[0].json) {\n    return [{\n        json: {\n            dialogs: [],\n            message: \"Нет сообщений для этого email\"\n        }\n    }];\n}\n\nconst conversation = items[0].json;\n\n// Парсим JSON с сообщениями\nlet messages = [];\ntry {\n    messages = typeof conversation.messages === 'string' \n        ? JSON.parse(conversation.messages) \n        : conversation.messages;\n} catch (e) {\n    messages = [];\n}\n\n// Форматируем диалоги для дашборда\nconst formattedDialogs = messages.map((msg, index) => {\n    return {\n        id: `${conversation.thread_id}_${index}`,\n        email: conversation.email,\n        thread_id: conversation.thread_id,\n        message_type: msg.type === 'incoming' ? 'user' : 'bot',\n        message_text: msg.content || '',\n        timestamp: msg.date || conversation.created_at,\n        language: conversation.language || 'unknown',\n        language_flag: conversation.language === 'ru' ? '🇷🇺' : '🇬🇧',\n        subject: conversation.subject\n    };\n});\n\nreturn [{json: {dialogs: formattedDialogs}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        144
      ],
      "id": "f03888a0-8e76-4ede-8146-663a609e7197",
      "name": "📧 Форматирование диалога"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        736,
        144
      ],
      "id": "cc457f1b-6ad2-46ca-ac5c-5ca79462420b",
      "name": "✅ Отправка диалога"
    }
  ],
  "pinData": {},
  "connections": {
    "🌐 Webhook: Save Monitoring": {
      "main": [
        [
          {
            "node": "⚙️ CONFIG (Save)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ CONFIG (Save)": {
      "main": [
        [
          {
            "node": "📝 Обработка данных Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Обработка данных Email": {
      "main": [
        [
          {
            "node": "🐘 Сохранение мониторинга",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🐘 Сохранение мониторинга": {
      "main": [
        [
          {
            "node": "✅ Успешный ответ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🌐 Webhook: Get Monitoring Data": {
      "main": [
        [
          {
            "node": "⚙️ CONFIG (Monitoring)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ CONFIG (Monitoring)": {
      "main": [
        [
          {
            "node": "🔐 Security Check (Monitoring)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔐 Security Check (Monitoring)": {
      "main": [
        [
          {
            "node": "❓ Auth OK? (Monitoring)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❓ Auth OK? (Monitoring)": {
      "main": [
        [
          {
            "node": "🐘 Получение данных Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "❌ Ошибка авторизации (Monitoring)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🐘 Получение данных Email": {
      "main": [
        [
          {
            "node": "📊 Форматирование данных",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Форматирование данных": {
      "main": [
        [
          {
            "node": "✅ Отправка данных",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🌐 Webhook: Get Email Dialog": {
      "main": [
        [
          {
            "node": "⚙️ CONFIG (Dialog)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ CONFIG (Dialog)": {
      "main": [
        [
          {
            "node": "🔐 Security Check (Dialog)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔐 Security Check (Dialog)": {
      "main": [
        [
          {
            "node": "❓ Auth OK? (Dialog)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❓ Auth OK? (Dialog)": {
      "main": [
        [
          {
            "node": "📝 Обработка запроса диалога",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "❌ Ошибка авторизации (Dialog)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Обработка запроса диалога": {
      "main": [
        [
          {
            "node": "🐘 Получение Gmail переписки",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🐘 Получение Gmail переписки": {
      "main": [
        [
          {
            "node": "📧 Форматирование диалога",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📧 Форматирование диалога": {
      "main": [
        [
          {
            "node": "✅ Отправка диалога",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "production-ru-v1",
  "meta": {
    "instanceId": "9a2a948e1b1119e76dce477f4f08641c41898f344f4216cb90098437b1dcaf00"
  },
  "id": "email-monitoring-production-ru",
  "tags": []
}
